.tooltip-container
{
  position: absolute;
  z-index: 200;
  left: -5000px;
  overflow: auto;
  background-color: #f2f2f2;
  color: #333;
  
}

.tooltip-selected
{
  color: #000;
  background-color: #aac2f2;
  padding: 1px;
  margin: -1px;
}
