.tooltip-container
{
  position: absolute;
  z-index: 200;
  left: -5000px;
  overflow: auto;
  background-color: #f2f2f2;
  color: #000;
  
}

.tooltip-selected
{
  color: #000;
  background-color: #aac2f2;
  box-shadow: 0 0 0 1px #aac2f2;
  border-radius: 2px;
  text-shadow: none;
}

.tooltip-container h2
{
  width: 100%;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #333;
  text-shadow: 0 1px #fff;
  padding: 5px 8px;
  margin: -8px 0px -30px -8px;
  border-bottom: 1px solid #d7d7d7;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  background-color: #e9e9e9;
  background-image: -o-linear-gradient(-90deg,
                                       rgba(255, 255, 255, 0.85) 0,
                                       rgba(255, 255, 255, 0.25) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.85) 0,
                                    rgba(255, 255, 255, 0.25) 100%);
}

.basic-tooltip
{
  word-wrap: break-word;
}
