.ruler-body
{
  position: absolute;
}

.ruler-top-bg
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 3px 3px 0 0;
}

.ruler-right-bg
{
  position: absolute;
  right: 0;
  top: 40px;
  bottom: 15px;
  width: 15px;
  background-color: hsla(0, 0%, 0%, 0.5);
}

.ruler-bottom-bg
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 0 0 3px 3px;
}

.ruler-left-bg
{
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 15px;
  width: 40px;
  background-color: hsla(0, 0%, 0%, 0.5);
}

.ruler-top-scale
{
  position: absolute;
  top: 0;
  left: 39px;
  right: 14px;
  height: 40px;
  background-image:
    -o-linear-gradient(0deg,
                       #fff 0,
                       #fff 1px,
                       transparent 1px),
    -o-linear-gradient(0deg,
                       #fff 0,
                       #fff 1px,
                       transparent 1px),
    -o-linear-gradient(0deg,
                       #fff 0,
                       #fff 1px,
                       transparent 1px);
  background-image:
    linear-gradient(90deg,
                    #fff 0,
                    #fff 1px,
                    transparent 1px),
    linear-gradient(90deg,
                    #fff 0,
                    #fff 1px,
                    transparent 1px),
    linear-gradient(90deg,
                    #fff 0,
                    #fff 1px,
                    transparent 1px);
  background-position: 0 37px, 0 34px, 0 31px;
  background-repeat: repeat-x;
}

.ruler-bottom-scale
{
  position: absolute;
  bottom: 0;
  left: 39px;
  right: 14px;
  height: 15px;
  background-image:
    -o-linear-gradient(0deg,
                       #fff 0,
                       #fff 1px,
                       transparent 1px),
    -o-linear-gradient(0deg,
                       #fff 0,
                       #fff 1px,
                       transparent 1px),
    -o-linear-gradient(0deg,
                       #fff 0,
                       #fff 1px,
                       transparent 1px);
  background-image:
    linear-gradient(90deg,
                    #fff 0,
                    #fff 1px,
                    transparent 1px),
    linear-gradient(90deg,
                    #fff 0,
                    #fff 1px,
                    transparent 1px),
    linear-gradient(90deg,
                    #fff 0,
                    #fff 1px,
                    transparent 1px);
  background-position: 0 0;
  background-repeat: repeat-x;
}

.ruler-left-scale
{
  position: absolute;
  top: 39px;
  left: 0;
  bottom: 14px;
  width: 40px;
  background-image:
    -o-linear-gradient(-90deg,
                       #fff 0,
                       #fff 1px,
                       transparent 1px),
    -o-linear-gradient(-90deg,
                       #fff 0,
                       #fff 1px,
                       transparent 1px),
    -o-linear-gradient(-90deg,
                       #fff 0,
                       #fff 1px,
                       transparent 1px);
  background-image:
    linear-gradient(180deg,
                    #fff 0,
                    #fff 1px,
                    transparent 1px),
    linear-gradient(180deg,
                    #fff 0,
                    #fff 1px,
                    transparent 1px),
    linear-gradient(180deg,
                    #fff 0,
                    #fff 1px,
                    transparent 1px);
  background-position: 37px 0, 34px 0, 31px 0;
  background-repeat: repeat-y;
}

.ruler-right-scale
{
  position: absolute;
  top: 39px;
  right: 0;
  bottom: 14px;
  width: 15px;
  background-image:
    -o-linear-gradient(-90deg,
                       #fff 0,
                       #fff 1px,
                       transparent 1px),
    -o-linear-gradient(-90deg,
                       #fff 0,
                       #fff 1px,
                       transparent 1px),
    -o-linear-gradient(-90deg,
                       #fff 0,
                       #fff 1px,
                       transparent 1px);
  background-image:
    linear-gradient(180deg,
                    #fff 0,
                    #fff 1px,
                    transparent 1px),
    linear-gradient(180deg,
                    #fff 0,
                    #fff 1px,
                    transparent 1px),
    linear-gradient(180deg,
                    #fff 0,
                    #fff 1px,
                    transparent 1px);
  background-position: 0 0;
  background-repeat: repeat-y;
}

.ruler-labels-top
{
  white-space: nowrap;
  text-align: center;
  padding-left: 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  overflow: hidden;
  color: #fff;
}

.ruler-label-top
{
  display: inline-block;
  font-size: 10px;
  font-family: Arial, sans-serif;
}

.ruler-labels-left
{
  text-align: right;
  padding-top: 40px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 30px;
  overflow: hidden;
  color: #fff;
}

.ruler-label-left
{
  display: block;
  font-size: 10px;
  font-family: Arial, sans-serif;
  width: 30px;
}

.ruler-close
{
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 17px;
  height: 14px;
  border-radius: 2px;
  background-image:
    -o-linear-gradient(45deg,
                       transparent 0,
                       transparent 5px,
                       #fff 5px,
                       #fff 7px,
                       transparent 7px),
    -o-linear-gradient(-45deg,
                       transparent 0,
                       transparent 5px,
                       #fff 5px,
                       #fff 7px,
                       transparent 7px);
  background-image:
    linear-gradient(45deg,
                    transparent 0,
                    transparent 5px,
                    #fff 5px,
                    #fff 7px,
                    transparent 7px),
    linear-gradient(135deg,
                    transparent 0,
                    transparent 5px,
                    #fff 5px,
                    #fff 7px,
                    transparent 7px);
  background-size: 9px 8px;
  background-position: 4px 3px;
  background-repeat: no-repeat;
}
