.metadata-drawer {
  background-color: #fafafa;
  border-bottom: 1px solid #999;
  margin: 0;
  padding: 6px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.metadata-drawer th {
    text-align: right;
}


input[handler=metadata-drawer-toggle] {
  background:transparent url('../../ui-images/toggle.png') scroll no-repeat 50% 100%;
  border:none;
  width:5px;
  height:9px;
  opacity: 0.66;
  -o-transition: .2s;
}

input[handler=metadata-drawer-toggle].unfolded {
  -o-transform: rotate(90deg);
}
