body
{
  font-family: sans-serif;
  font-size: .8em;
  max-width: 500px;
  margin: auto;
}
h1
{
  font-weight: normal;
}
.legend-missing:before
{
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 8px;
  background-color: hsl(0, 100%, 85%);
  vertical-align: middle;

}
table
{
  border-collapse: collapse;
}
tr:nth-child(odd)
{
  background-color: hsl(0, 0%, 95%);
}
.submitted td
{
  opacity: .3;
}
.missing td:nth-child(2)
{
  background-color: hsl(0, 100%, 85%);
}
.pass td:nth-child(2)
{
  background-color: hsl(120, 100%, 85%);
}
.fail td:nth-child(2)
{
  background-color: hsl(0, 100%, 85%);
}
th
{
  text-align: left;
  border: 1px solid #666;
  background-color: hsl(0, 0%, 95%);
  padding: 2px 0 2px 20px;
}
td
{
  xborder: 1px solid #999;   
}
.url
{
  padding-left: 22px;
}
.info
{
  background-color: hsl(220, 100%, 70%);
  color: #fff;
  padding: 5px;
  border: 1px solid #666;
  white-space: pre-wrap;
}
.item
{
  width: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.item span
{
  display: inline-block;
  border: 5px solid transparent;
  border-left-color: #666;
  border-right-width: 0;
}
.open span
{

  border: 5px solid transparent;
  border-top-color: #666;
  border-bottom-width: 0;
}
ol
{
  xborder: 1px solid blue;
  margin: 0;
}
.submit
{
  text-align: right;
}
.input
{
  border: 1px solid #666;
}
.input input
{
  width: 100%;
  box-sizing: border-box;
  border: 0;
  margin: 0;
}