#request-table {
    border-collapse: collapse;
}

#request-table tr {
    border-bottom: 1px solid #D9D9D9;
}

#request-table td, #request-table th {
    border-left: 1px solid #D9D9D9;
}


#request-table tr th:first-child, #request-table tr td:first-child {
   border-left: 0px;
}

#request-table tr:nth-child(odd) {
    background-color: #fafafa;
}

#request-table tr:hover {
    background-color: yellow;
}

#request-table tr.selected-request {
    background-color: orange;
}

/* HTTP logger buttons start */

input[handler="clear-request-list"] {
  background-image: url('../ui-images/btn-clear-error-console.png');
}

.headerlist dt {
    font-weight: bold;
    background-color: #fafafa;
}

/* HTTP logger buttons end */

