.request-table {
    border-collapse: collapse;
}

.request-table tr {
    border-bottom: 1px solid #D9D9D9;
}

.request-table td, .request-table th {
    border-left: 1px solid #D9D9D9;
}


.request-table tr th:first-child, .request-table tr td:first-child {
   border-left: 0px;
}

.request-table tr:nth-child(odd) {
    background-color: #fafafa;
}

/*.request-table tr:hover {*/
/*    background-color: yellow;*/
/*}*/
/**/
/*.request-table tr.selected-request {*/
/*    background-color: orange;*/
/*}*/
/**/
/*.request-table tr.mime-image {*/
/*    color: darkgray;*/
/*}*/
/**/
/*.request-table tr.mime-css {*/
/*    color: gold;*/
/*}*/
/**/
/*.request-table tr.mime-javascript {*/
/*    color: blue;*/
/*}*/
/**/
/*.request-table tr.mime-flash {*/
/*    color: red;*/
/*}*/
/**/
/*.request-table tr.mime-xml {*/
/*    color: pink;*/
/*}*/
/**/
/*.request-table tr.mime-markup {*/
/*    color: green;*/
/*}*/

.request-table label {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../ui-images/filetype_unknown.png);
}

.request-table label.markup {
    background-image: url(../ui-images/filetype_html.png);
}

.request-table label.image {
    background-image: url(../ui-images/filetype_image.png);
}

.request-table label.css {
    background-image: url(../ui-images/filetype_stylesheet.png);
}

.request-table label.flash {
    background-image: url(../ui-images/filetype_flash.png);
}

.request-table label.javascript {
    background-image: url(../ui-images/filetype_javascript.png);
}

/* HTTP logger buttons start */

input[handler="clear-request-list"] {
  background-image: url('../ui-images/btn-clear-error-console.png');
}

.headerlist dt {
    font-weight: bold;
    background-color: #fafafa;
}

/* HTTP logger buttons end */

