#request-table {
}

#request-table tr {
}

#request-table tr:nth-child(odd) {
    background-color: #fafafa;
}

#request-table tr:hover {
    background-color: yellow;
}

#request-table tr.selected-request {
    background-color: orange;
}

/* HTTP logger buttons start */

input[handler="clear-request-list"] {
  background-image: url('../ui-images/btn-clear-error-console.png');
}

.headerlist dt {
    font-weight: bold;
    background-color: #fafafa;
}

/* HTTP logger buttons end */

