.request-table {
    border-collapse: collapse;
}

.request-table tr {
    border-bottom: 1px solid #D9D9D9;
}

.request-table td, .request-table th {
    border-left: 1px solid #D9D9D9;
}


.request-table tr th:first-child, .request-table tr td:first-child {
   border-left: 0px;
}

.request-table tr:nth-child(odd) {
    background-color: #fafafa;
}

.request-table tr:hover {
    background-color: yellow;
}

.request-table tr.selected-request {
    background-color: orange;
}

.request-table tr.mime-image {
    color: darkgray;
}

.request-table tr.mime-css {
    color: gold;
}

.request-table tr.mime-javascript {
    color: blue;
}

.request-table tr.mime-flash {
    color: red;
}

.request-table tr.mime-xml {
    color: pink;
}

.request-table tr.mime-markup {
    color: green;
}


/* HTTP logger buttons start */

button[handler="clear-request-list"]:before {
  background-image: url('../ui-images/btn-clear-error-console.png');
}

.headerlist dt {
    font-weight: bold;
    background-color: #fafafa;
}

/* HTTP logger buttons end */

