em
{
  font-style: normal;
  display:inline-block;
  border-radius: 3px;
  padding-left: 1px;
  padding-right: 1px;
  margin-left: -1px;
  margin-right: -1px;

}

.js-search-results-runtime h2
{
  background-color: hsl(0, 0%, 95%);
  color: #fff;
  color: hsl(0, 0%, 20%);
  margin: 0;
  
  
  font: inherit;
  padding: 3px;
  word-wrap: break-word;
  margin: 2px;
  border-radius: 2px;
  border: 1px solid hsl(0, 0%, 85%);
}

.js-search-results-script h3
{
  xbackground-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 20%);
  margin: 0;
  font: inherit;
  xline-height: 16px;
  padding: 5px;
  xwhite-space: nowrap;
  word-wrap: break-word;
  xborder-bottom: 1px solid hsl(0, 0%, 70%);
  xborder-top: 1px solid hsl(0, 0%, 70%);
}


.js-search-results-script
{
  margin-bottom: -1px;
}

.js-search-match
{
  color: #000;
  xwhite-space: pre-wrap;
  -o-tab-size: 4;
  Xdisplay: table-row;
}

/*
.js-search-results-script div:hover
{
  background-color: #cce5f3;
}
*/
.js-search-results-script code
{
  display: block;
  word-wrap: break-word;
  padding: 5px;
  margin: -1px;
  margin-left: 7.5ex;
  border-left: 1px solid hsl(0, 0%, 85%);
}

.js-search-results-script code.wrap-long-lines
{
  display: inline-block;
  width: 32000px;
  white-space: pre-wrap;
}

.line-no
{
  xbackground-color: hsla(0, 0%, 0%, .05);
  color: hsl(0, 0%, 60%);
  padding: 4px 0;
  xpadding-right: 1ex;
  xmargin: -5px;
  xmargin-right: 1ex;
  display: block;
  float: left;
  vertical-align: top;
  xheight: 100%;
  xborder-radius: 2px 0 0 2px;
  width: 7ex;
  xwhite-space: pre;
  text-align: right;
}



.info-is-searching
{
  padding: 7px;
}
.search-highlight
{
 background-color: rgba(0,0,0,0.13); 
}
.search-highlight-selected
{
  background-color: #c8f7bd; 
  background-image: -o-linear-gradient(90deg,#e8cf7a,#fef4c6);
  box-decoration-break: clone;
  border: 1px solid #ceba73;   
  border-top-color: #dbd3ad;
  border-bottom-color: #c7b267;
  margin: -1px -2px;
  color: #000000;
  position:relative;
  z-index: 98;
}

/* DOM search */

.dom-search-container
{
  position: absolute;
  top: 50px;
  bottom: 22px;
  overflow: auto;
  width: 100%;
}

.dom-search-controls
{
  border-bottom: 1px solid hsl(0, 0%, 60%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: hsl(0, 0%, 97%);
  padding: 3px;
  box-sizing: border-box;
}

.dom-search-controls filter
{
  margin-right: 0;
}

.dom-search-controls form
{
  clear: both;
  padding-top: 3px;
}

.dom-search-controls label
{
  white-space: pre;
  display: inline-block;
}

.dom-search-info
{
  position:absolute;
  top: 100%;
  width: 100%;
  margin-top: -23px;
  border-top: 1px solid hsl(0, 0%, 60%);
}

.dom-search-info info
{
  display: block;
  height: 22px;
  line-height: 22px;
  background-color: hsl(0, 0%, 97%);
}

.dom-search
{
  display: table;
  min-width: 100%;
}

.dom-search .no-dom-search-match
{
  color: hsl(0, 0%, 70%);
}

.dom-search-node-highlight::before
{
  width: 25px;
  height: 100%;
  margin-left: -25px;
  content: "\00A0";
  display: block;
  float: left;
  margin-bottom: -10px;
  background: url("../ui-images/node-match-pointer.png") no-repeat 0 50%;
}

.dom-search-match,
.js-search-match
{
  padding: 4px;
  margin: 0 2px;
  border-radius: 2px;
  border: 1px solid transparent;
  xword-wrap: break-word;
}

.js-search-match
{
  padding: 0;
}

.dom-search-match
{
  word-wrap: break-word;
}

.dom-search-match:nth-child(even),
.js-search-match:nth-child(even)
{
  background-color: hsl(0, 0%, 97%);
  border-color: hsl(0, 0%, 97%);
}
.dom-search-match-cursor,
.dom-search-match:hover,
.js-search-match:hover
{
  border-color: #e0eaf6 !important;
  background: #f2f5f9 !important;
  text-decoration: none;
}

.dom-search-text-node
{
  color: hsl(0, 0%, 60%);
  margin-right: 8px;
}

.panel-search-input-container {
  box-sizing: border-box;
  border: 0px solid;
  border-right: -66px solid transparent;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 19px;
  line-height: 19px;
  border-radius: 0;
  background: none;
  box-shadow: none;
  vertical-align: top;
}

.panel-search-input-container > input {
  width: 100%;
}

.advanced-panel-search .search-move-highlight-up {
  margin-left: -66px;
}
.advanced-panel-search .container-button{
  height: 19px;
  border-radius: 0px;
  padding: 1px 7px;
  border-right: none;
  border-top: none;
  border-bottom: none;
}
.advanced-panel-search .search-move-highlight-down {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.advanced-panel-search .search-move-highlight-up::before {
  background-image: url("../ui-images/icons/icon_arrow_left.png");
}
.advanced-panel-search .search-move-highlight-down::before {
  background-image: url("../ui-images/icons/icon_arrow_right.png");
}