h1 {
  margin:0;
  font-weight:normal;
  background-color:#ccc;
  color:#000;
  padding:3px 7px;
  text-align:right;
  font-size:18px;
  }

h2, h3 {
  margin:0;
  padding:0;
  font-weight:normal;
  font-size:1.6em;
  }

h3 {
  font-size:1.3em;
  }

ul {
  margin:0;
  padding:0;
  list-style:none;
  }

li[hanler] {
  cursor:pointer;
  }

#debug-container {
  xxbackground-color:#ccc;
  xxoverflow: hidden;
  }



xx#debug {
  position:absolute;
  overflow:auto;
  border:1px solid #666;
  background-color:#fff;
  top:25px;
  left:5px;
  right:5px;
  bottom:5px;
  padding:.5em;
  margin:0;
  }




#source-view #line-pointer, #source-view .breakpoint {
  position:absolute;
  content: '\25B6';
  color:#f00;
  font-size: 20px;
  list-style:none;
  line-height:24px;
  height:24px;
  padding:0;
  margin:0;
  margin-top:-4px;
  left:0px;
  }

#source-view .breakpoint {
  content: '\25C9';
  color:#f00;
  left:0px;
  }


#command-line {
  overflow:hidden;
  }
#command-line textarea {
  width:100%;
  height:100%
  }

#command-line input {

  }

#command-line-debug-container {

  }

#command-line-debug-container textarea {
  width:100%;
  height:80%
  }

  

.folder li li {
  margin-left:18px;
  }

.folder-key {
  border:none;
  margin:0;
  margin-right:7px;
  padding:0;
  font-size:10px;
  line-height:11px;
  height:11px;
  width:11px;
  background: transparent url('data:image/gif,GIF89a%0B%00!%00%A2%00%00%00%00%00%FF%FF%FF%CC%CC%CCfff%FF%FF%FF%00%00%00%00%00%00%00%00%00!%F9%04%01%00%00%04%00%2C%00%00%00%00%0B%00!%00%00%03%3D(%BA%AC%F1%10%3A8%E2%7CU%8A%98%9F%1B%60X%5DA%17%90%26jm%D1%DA%BC0%D3%AE%B3V%7Bl%FD%89%E0%99%CF%A4V%90v%8B1%08%C8%A4r%C9l%3A%9FPfi%1A%ADZ%AF%CB%04%00%3B') scroll no-repeat 0 0;
  cursor:pointer;
  }

.folder-key[disabled="true"] {
  opacity: .3;
  }

.failed {
  color:red;
  }

/* backtrace */

#backtrace-container, #examine-objects-container {
  padding:.3em;
  }


#backtrace-container li {
  padding-left: 20px;
  line-height:16px;
  background: transparent url('selected-frame.png') scroll no-repeat -20px 0;
  cursor:pointer;
  }

#backtrace-container li:first-child {
  background-image: url('selected-frame-top.png');
  }

#backtrace-container li.selected {
  background-position: 0 0;
  }

#ecma-debugger-toolbar {
  background-color:#ccc;
  }

#ecma-debugger-toolbar:after {
  content:'';
  display:block;
  clear:both;
  }

#continues, .dropdowns {
  height:24px;
  line-height:24px;
  float:left;
  }

#continues {
  margin-left:5px;
  }

[handler] {
  cursor: pointer;
  }

input[handler="continue"] {
  width:36px;
  height:22px;
  background-color:transparent;
  background-repeat:no-repeat;
  background-position:0 0;
  padding:0;
  margin:0;
  border:none;
  cursor:pointer;
  }

#continues input:hover {
  background-position:0 -22px;
  }

#continue-run {
  background-image:url('run.png');
  }
#continue-step-into-call {
  background-image:url('step-into.png');
  }
#continue-step-next-line {
  background-image:url('step-next.png');
  }
#continue-step-out-of-call {
  background-image:url('step-out.png');
  } 

/* TODO overrides ui.css quick fix */

toolbar-buttons input[handler="continue"]:active {
  background-position:-1px -1px;
  }

#continues input[DISABLED] {
  opacity:.5;
  }
  
#main-button-toolbar {
  float:left;
  }
.dropdowns > li {
  float:left;
  padding:0;
  margin:0 5px;
  cursor:pointer;
  position:relative;
  z-index:1;
  }

#drop-down-view {
  position:absolute;
  left:0;
  right:0;
  border:1px solid #333;
  background-color:#fff;
  padding:.5em;
}

[handler="select-window"], [handler="display-script"], [handler="show-global-scope"] {
  cursor:pointer;
  }


[window_id].selected > span {
  color:#930;
  font-weight:bold;
  }


[handler="display-script"].selected {
  color:#333;
  font-weight:bold;
  }

[handler="display-script"].selected:before {
  content:'[';
  padding-right:.3em;
  }

[handler="display-script"].selected:after {
  content:']';
  padding-left:.3em;
  }

.window-container {
  position:absolute;
  top:22px;
  left:1px;
  right:5px;
  bottom:5px;
  padding:.5em;
  overflow:auto;
  }

/*** views ***/

.padding {
  padding:9px;
  }

/*** view error console ***/

.error-console   {
  background-color:#f2f2f2;
  }

.error-console date {
  float:right;
  xxline-height:22px;
  padding:7px;
  }

.error-console h2 {
  padding:0;
  margin:0;
  padding-left:30px;
  background:transparent url('../ui-images/error-console-default.png') scroll no-repeat 5px 1px;
  }


.error-console h2[severity="debug"] {
  background-image:url('');
  }

.error-console h2[severity="verbose"] {
  background-image:url('');
  }

.error-console h2[severity="information"] {
  background-image:url('../ui-images/error-console-info.png');
  }

.error-console h2[severity="error"] {
  background-image:url('../ui-images/error-console-error.png');
  }

.error-console h2[severity="critical"] {
  background-image:url('../ui-images/error-console-critical.png');
  }

.error-console uri, .error-console context {
  display: block;
  padding: 2px;
  padding-left:30px;
  }

.error-console pre {
  white-space:pre-wrap;
  border-top:1px solid #b3b3b3;
  border-bottom:1px solid #b3b3b3;
  background-color:#fff;
  font-family:monospace;
  font-size:12px;
  margin:0;
  padding:7px;
  padding-left:30px;
  }





/*** view debug ***/



.debug-container > div {
  white-space:pre;
  xxfont-family:monospace;
}

.selected-runtime {
  font-weight:bold;
  color:#09f;
}


.info {
  position:absolute;
  left:20%;
  top:10%;
  width:60%;
  height:100px;
  border:5px solid red;
  background-color:#fce8cf;
  padding:20px;
  z-index:100;
  }

.info h2 {
  text-align: center;
  }

/* command line */


#console-output pre{
  XXpadding-left:35px;
  }

#console-output,
#console-output pre,
#console-input, 
#console-input textarea {
  line-height:16px;
  font-size:14px !important;
  font-family:monospace;
  padding:0;
  margin:0;
  }

#console-output pre {
  white-space: pre-wrap;
  }

#console-input span {
  float:left;
  }

#console-input span + div {
  margin-left: 4ex;
  }
  
#console-input textarea {
  width:100%;
  border:0px solid;
  margin:0;
  padding:0;
  overflow:hidden;
  }


#examine-objects li li {
  padding-left:18px;
  }

#examine-objects .key {
  margin-right:7px;
  }

.css-inspector pre {
  white-space: pre-wrap;
  }

p[handler="update-global-scope"] {
  padding:0;
  margin:0;
  color: #999;
  text-decoration: underline;
  text-align: center;
  }

p[handler="update-global-scope"]:hover {
  color: #333;
  }

.export-data pre {
  padding: 0;
  margin: 0;
  }



