h1 {
  margin:0;
  font-weight:normal;
  background-color:#333;
  color:#fff;
  padding:3px 7px;
  border-bottom:5px solid #ccc;
  }

h2, h3 {
  margin:0;
  padding:0;
  font-weight:normal;
  font-size:1.6em;
  }

h3 {
  font-size:1.3em;
  }

ul {
  margin:0;
  padding:0;
  list-style:none;
  }

li[hanler] {
  cursor:pointer;
  }

#debug-container {
  xxbackground-color:#ccc;
  xxoverflow: hidden;
  }

#debug-container input {
  float:right;
  }

xx#debug {
  position:absolute;
  overflow:auto;
  border:1px solid #666;
  background-color:#fff;
  top:25px;
  left:5px;
  right:5px;
  bottom:5px;
  padding:.5em;
  margin:0;
  }

#source-view {
  white-space: pre-wrap;
  position: relative;
  }

#source-view li {
  color:#999;
  line-height: 16px;
  }

#source-view li span {
  color:#000;
  }

#source-view li .string {
  color:#963;
  }

#source-view li .comment {
  color:green;
  }

#source-view li .js_keywords {
  color:#00f;
  }

#source-view li .js_builtins {
  color:#f00;
  }

#source-view li .number {
  color:#099;
  }

#source-view li .reg_exp {
  color:#f60;
  }

#source-view li .punctuator {
  color:#fc3;
  }

.selected {
  background-color:#f00;
  color:#fff;
  }



#source-view #line-pointer, #source-view .breakpoint {
  position:absolute;
  content: '\25B6';
  color:#f00;
  font-size: 20px;
  list-style:none;
  line-height:24px;
  height:24px;
  padding:0;
  margin:0;
  margin-top:-4px;
  left:0px;
  }

#source-view .breakpoint {
  content: '\25C9';
  color:#f00;
  left:0px;
  }


#command-line {
  overflow:hidden;
  }
#command-line textarea {
  width:100%;
  height:100%
  }

#command-line input {
  float:right;
  }

#command-line-container {
  position:absolute;
  top:25px;
  left:5px;
  right:5px;
  bottom:5px;
  padding:0;
  margin:0;
  }

#examine-objects li li {
  padding-left:18px;
  }

#examine-objects .key {
  margin-right:7px;
  }

#examine-objects .value {
  color:red;
  }

#examine-objects .type {
  color:blue;
  }

#examine-objects input {
  border:none;
  margin:0;
  margin-right:7px;
  padding:0;
  font-size:10px;
  line-height:11px;
  height:11px;
  width:11px;
  background: transparent url('data:image/gif,GIF89a%0B%00!%00%A2%00%00%00%00%00%FF%FF%FF%CC%CC%CCfff%FF%FF%FF%00%00%00%00%00%00%00%00%00!%F9%04%01%00%00%04%00%2C%00%00%00%00%0B%00!%00%00%03%3D(%BA%AC%F1%10%3A8%E2%7CU%8A%98%9F%1B%60X%5DA%17%90%26jm%D1%DA%BC0%D3%AE%B3V%7Bl%FD%89%E0%99%CF%A4V%90v%8B1%08%C8%A4r%C9l%3A%9FPfi%1A%ADZ%AF%CB%04%00%3B') scroll no-repeat 0 0;
  cursor:pointer;
  }

.failed {
  color:red;
  }

