/*

<DIV CLASS="window-container"  ID="dom-view-container" >
        <DIV CLASS="toolbar" >
          <FORM METHOD="get"  ENCTYPE="application/x-www-form-urlencoded" >
            <LABEL>
              <INPUT type="radio"  ID="radio-markup-view"  CHECKED="checked" >
               markup view
            </LABEL>
          </FORM>
        </DIV>
        <DIV CLASS="content" >
          <DIV ID="dom-view" ></DIV>
        </DIV>
      </DIV>
      <window-shadow CLASS="top-left" ></window-shadow>
      <window-shadow CLASS="top" ></window-shadow>
      <window-shadow CLASS="top-right" ></window-shadow>
      <window-shadow CLASS="left" ></window-shadow>
      <window-shadow CLASS="right" ></window-shadow>
      <window-shadow CLASS="bottom-left" ></window-shadow>
      <window-shadow CLASS="bottom" ></window-shadow>
      <window-shadow CLASS="bottom-right" ></window-shadow>
      <window-control handler="window-scale-right" ></window-control>
      <window-control handler="window-scale-bottom" ></window-control>
      <window-control handler="window-scale-bottom-right" ></window-control>
      <window-control handler="window-scale-bottom-left" ></window-control>
      <window-control handler="window-scale-left" ></window-control>
    </window>
    <DIV STYLE="position:absolute;left:-1000px;top:0;" >
      <INPUT TYPE="text" >
    </DIV>

    */

#target-element{background-color:#6cf}

#dom-view-container {
  padding:0;
  margin:0;
  }

#dom-view input {
  border: 0;
  margin: 0;
  margin-left: -15px;
  padding-right:4px;
  cursor: pointer;
  height: 11px;
  width: 11px;
  color: #666;
  background: transparent url('data:image/gif,GIF89a%0B%00!%00%A2%00%00%00%00%00%FF%FF%FF%CC%CC%CCfff%FF%FF%FF%00%00%00%00%00%00%00%00%00!%F9%04%01%00%00%04%00%2C%00%00%00%00%0B%00!%00%00%03%3D(%BA%AC%F1%10%3A8%E2%7CU%8A%98%9F%1B%60X%5DA%17%90%26jm%D1%DA%BC0%D3%AE%B3V%7Bl%FD%89%E0%99%CF%A4V%90v%8B1%08%C8%A4r%C9l%3A%9FPfi%1A%ADZ%AF%CB%04%00%3B') 0 0 no-repeat;
  }



#dom-view input.open {
  background-position:0 -11px;
  }

#dom-view .node{
  color:blue;
  cursor:pointer;
  }

#dom-view .node:hover {
  background-color:#f5f5f5;
  }

#dom-view .key{color:#000;}

#dom-view .value{color:red}

#dom-view-container .comment{color:#999}




.toolbar {
  height:30px;
  border-bottom:1px solid #ccc;
  background-color:#f9f9f9;
  padding:1px 5px;
  }

.content {
  position:absolute;
  top:33px;
  left:0;
  right:0;
  bottom:0;
  overflow:auto;
  background-color:#fff;
  }

#dom-view-container {
xxbackground-repeat: no-repeat;
xxbackground-position:0 0;
xxpadding-left:16px;
}

#dom-view-container form {
margin:0;
padding:0;
}