
html, body {
  overflow: hidden;
  height:100%;
  }

body {
  padding:0;
  margin:0;
  font-family: 'Lucida Sans Unicode', Arial, sans-serif;
  font-size:.8em;
  overflow: hidden;
  }

body>div {
  padding:0px .7em;
  }

h2, h3 {
  margin:0;
  padding:0;
  font-weight:normal;
  font-size:1.6em;
  }

h3 {
  font-size:1.3em;
  }

ul {
  margin:0;
  padding:0;
  list-style:none;
  }

li[hanler] {
  cursor:pointer;
  }

#debug-container {
  background-color:#ccc;
  }

#debug-container input {
  float:right;
  }

#debug {
  height:150px;
  overflow:auto;
  border:1px solid #666;
  background-color:#fff;
  margin:.3em 0;
  padding:.5em;
  }

#source-view {
  white-space: pre-wrap;
  border:1px solid transparent; /* prevent any margin collapse */
  position: relative;
  }

#source-view li {
  color:#999;
  line-height: 16px;
  }

#source-view li span {
  color:#000;
  }

#source-view li .string {
  color:#963;
  }

#source-view li .comment {
  color:green;
  }

#source-view li .js_keywords {
  color:#00f;
  }

#source-view li .js_builtins {
  color:#f00;
  }

#source-view li .number {
  color:#099;
  }

#source-view li .reg_exp {
  color:#f60;
  }

#source-view li .punctuator {
  color:#fc3;
  }

.selected {
  background-color:#f00;
  color:#fff;
  }

.block {
  float:left;
  }

#source-view #line-pointer {
  position:absolute;
  content: '\25B6';
  color:#f00;
  font-size: 20px;
  list-style:none;
  line-height:24px;
  height:24px;
  padding:0;
  margin:0;
  margin-top:-4px;
  margin-left:-40px;
  }

.frame-vertical {
  border: 1px solid #666;
  border-bottom-width:5px;
  overflow: auto;
  position:relative;
  }

