.errors-table tr {
  vertical-align: top;
}

/* Icon cell */
.errors-table tr td.icon {
    text-align: center;
    width: 16px;
}

.errors-table td.location {
  max-width: 150px;
  overflow-x: hidden;
  overflow-y: hidden;
  /* direction: rtl; does funny things with trailing slashes, see http://jsfiddle.net/aEbSW/ */
  text-overflow: ellipsis;
  white-space: nowrap;
}

.errors-table td.main > pre {
  /* doesn't have a button to expand, needs to align to those lines though */
  margin-left: 15px;
}

.errors-table button {
  height: 9px;
  width: 5px;
  background: transparent url('../ui-images/toggle.png') no-repeat;
  border: 0;
  margin: 0 6px 0 2px;
  padding: 0;
  cursor: pointer;
  -o-transition: -o-transform .2s;
}

.errors-table > tr.expanded button {
    -o-transform: rotate(90deg);
}

.errors-table .error-details {
  display: none;
}

.errors-table tr.expanded .error-details {
  display: table-row;
}

.errors-table .severity {
  width: 16px;
  background: url('../ui-images/error-console-info.png') no-repeat 5px 3px;
}

.errors-table .severity.debug {
  background-image: url('../ui-images/error-console-info.png');
}

.errors-table .severity.information {
  background-image: url('../ui-images/error-console-info.png');
}

.errors-table .severity.verbose {
  background-image: url('../ui-images/error-console-warning.png');
}

.errors-table .severity.error {
  background-image: url('../ui-images/error-console-error.png');
}

.errors-table .severity.critical {
  background-image: url('../ui-images/error-console-error.png');
}

button[key="request_list.expand-all-entries"]:before
{
  background-image: url('../ui-images/btn-log-threads.png');
}

.error-console-setting
{
  border-top: 1px solid #ccc;
  margin-top: 5px;
  padding-top: 5px;
}

#error-console-css-filter
{
  width: 99%;
  display: block;
  margin: 3px 0;
}

.errors-table .mono {
  margin: 0;
}

.error-details.mono {
  margin: 4px 0 0 0;
}