
.error-console tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.error-console tr.collapsed:hover, .error-console tr.expanded:hover {
    background-color: #ffeeee;
}

/* Expander cell */
.error-console td:nth-child(1) {
    width: 22px;
}

/* File cell */
.error-console td:nth-child(2) {
    width: 30%;
    font-weight: bold;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 500px;
}

/* Line cell */
.error-console td:nth-child(3) {
    width: 128px;
    text-align: right;
    max-width: 32px;
}

.error-console table {
    border-collapse: collapse;
    width: 100%;
}

.error-console td, .error-console th {
    border-bottom: 1px solid #b3b3b3;
    border-left: 1px solid #b3b3b3;
    padding-left: 4px;
    padding-right: 4px;
}

.error-console td:first-child, .error-console th:first-child {
    border-left: none;
}

.error-console button {
  height: 15px;
  width: 19px;
  background: transparent url('../ui-images/expand-collapse.png') 4px 2px no-repeat;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.error-console tr.expanded button {
  background: transparent url('../ui-images/expand-collapse.png') 4px -13px no-repeat;
}

.error-console button:active {
    background-color: highlight;
}

.error-console pre {
    padding: 6px;
    margin: 6px;
    border: dashed 1px #b3b3b3;
    font-family: monospace;
    font-size: 12px;
    background-color: white;
}

button[key="request_list.expand-all-entries"]:before
{
  background-image: url('../ui-images/btn-log-threads.png');
}

