a.resource-main
{
  padding: 0;
  margin: 0;
}

.image-resource-view
{
  border: solid thin black;
}

.resource-image-box
{
  padding: 8px;
  margin: 8px;
  vertical-align: top;
  display: inline-block;
  width: 100px;
  height: 120px;
  border: solid thin black;
  text-align: center;
  overflow: hidden;
}

.resource-image-box img
{
  max-width: 70px;
  max-height: 70px;
}

.resource-icon
{
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../ui-images/type_other.png");
  vertical-align: middle;
}

.resource-type-audio
{
  background-image: url("../ui-images/type_audio.png");
}

.resource-type-css
{
  background-image: url("../ui-images/type_style.png");
}

.resource-type-data
{
  background-image: url("../ui-images/type_data.png");
}

.resource-type-feed
{
  background-image: url("../ui-images/type_feed.png");
}

.resource-type-flash
{
  background-image: url("../ui-images/type_flash.png");
}

.resource-type-font
{
  background-image: url("../ui-images/type_font.png");
}

.resource-type-image
{
  background-image: url("../ui-images/type_picture.png");
}

.resource-type-markup
{
  background-image: url("../ui-images/type_markup.png");
}

.resource-type-script
{
  background-image: url("../ui-images/type_script.png");
}

.resource-type-text
{
  background-image: url("../ui-images/type_text.png");
}

.resource-type-video
{
  background-image: url("../ui-images/type_video.png");
}

.resource-type-storage
{
  background-image: url("../ui-images/type_storage.png");
}

.line-numbered-resource
{
  padding-top: 6px;
  padding-left: 51px;
}

.line-numbered-resource pre
{
  margin-top: 0;
}

.highlighted-line
{
  background-image: linear-gradient(0deg,
                                    #d4e3f4,
                                    #d4e3f4);
  background-repeat: no-repeat;
}

.resource-line-numbers
{
  position: absolute;
  left: 0;
  top: 0;
  width: 37px;
  padding-right: 3px;
  padding-top: 6px;
  text-align: right;
  color: hsl(0, 0%, 70%);
  white-space: pre;
  background-color: #f3f3f3;
  border-right: 1px solid #e9e9e9;
  min-height: 100%;
}

.font-preview
{
  font-size: 400%;
  text-align: center;
}

/* Expander cell */
.searchcell
{
  width: 250px;
}

.resource-tree-expand-collapse.close > ul
{
  display: none;
}

.button-expand-collapse
{
  background: url("../ui-images/expand-collapse.png") 1px -14px no-repeat transparent;
  border: 0 none currentColor;
  color: #666666;
  height: 13px;
  margin: 0 2px 0 0;
  padding: 0;
  width: 13px;
}

.button-expand-collapse:focus
{
  outline: 2px solid #598BEC;
  outline-offset: -2px;
}

.resource-tree-expand-collapse.close .button-expand-collapse
{
  background-position: 1px 1px;
}

/* resource detail view */
.resource-detail-container,
.resource-detail-container-empty
{
  height: 100%;
  overflow: auto;
}

.resource-detail-script-container,
.resource-detail-css-container,
.resource-detail-markup-container
{
  height: 100%;
  position: relative;
}

.resource-detail-container-empty
{
  padding: 8px;
  background: url("../ui-images/disabled_stripe_tile.png");
}

.resource-detail-overview
{
  padding: 8px;
  background: #eee;
  color: #707070;
  box-shadow: inset 0 -1px 0 0 #e9e9e9;
}

.resource-detail-overview-url
{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
}

.resource-detail-text-container,
.resource-detail-image-container,
.resource-detail-others-container,
.resource-detail-flash-container
{
  padding: 8px;
}

.resource-detail-error
{
  color: #d2001c;
}

a.external
{
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  padding-left: 17px;
  background: url("../ui-images/icons/icon_export.png") center left no-repeat;
}

a.external:hover
{
  text-decoration: underline;
}

.resource-detail-overview-type
{
  display: block;
}

.resource-detail-view
{
  padding: 0;
  margin: 0;
  overflow: auto;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.resource-detail-font
{
  width: 100%;
  height: -o-content-size;
}

.resource-detail-image
{
  object-fit: contain;
  -o-object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  background: url("../ui-images/grid_checkers_black.png") top left repeat;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  vertical-align: middle;
}

/* ------------------ */
.resource-tree
{
  height: 100%;
  overflow: auto;
}

.resource-tree li > h2
{
  margin: 0;
  padding: 0 4px;
  white-space: nowrap;
  font-weight: normal;
  min-width: 100%;
  display: block;
  font-size: 11px;
  line-height: 24px;
  vertical-align: middle;
}

.resource-tree-documents,
.resource-tree-groups,
.resource-tree-resources
{
  padding: 0;
  margin: 0;
}

/* zebra resources */
.resource-tree-windows
{
  width: 100%;
  display: table;
  margin: 4px 0;
}

.resource-tree li > h2:hover
{
  background-color: rgba(137, 173, 232, 0.196);
}

.resource-tree li > h2.resource-highlight
{
  color: #fff;
  background-color: rgba(55, 115, 211, 0.702);
}

.resource-tree li > h2 .resource-tree-count
{
  background-color: #e6e6e6;
  display: inline-block;
  line-height: 16px;
  border-radius: 3px;
  padding: 0px 5px;
  margin-left:4px;
  vertical-align:middle;
}

.resource-tree li > h2:hover .resource-tree-count
{
  background-color: #cfd6e0;
  color: #3c3e42;
}

.resource-tree li > h2 .resource-domain
{
  color: #808080;
}

.resource-tree li > h2:hover .resource-domain:hover
{
  color: #6e7680;
}

.resource-tree li > h2.resource-highlight .resource-tree-count
{
  background-color: #8fb1e6;
}

.resource-tree li > h2.resource-highlight .resource-tree-count,
.resource-tree li > h2.resource-highlight:hover .resource-tree-count,
.resource-tree li > h2.resource-highlight .resource-domain,
.resource-tree li > h2.resource-highlight:hover .resource-domain
{
  color: #fff;
}

.resource-domain::before
{
 content: " – ";
}

span.resource-tree-window-label,
span.resource-tree-document-label,
span.resource-tree-group-label
{
  font-weight: bold;
  padding: 0 0 0 21px;
  line-height: 18px;
  display: inline-block;
  background-position: 1px 1px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-image: url("../ui-images/type_folder.png");
}

h2.resource-tree-group
{
  text-transform: capitalize;
}

span.resource-tree-document-label
{
  background-image: url("../ui-images/type_document.png");
}

h2.resource-tree-group-markup > span.resource-tree-group-label
{
  background-image: url("../ui-images/type_markup.png");
}

h2.resource-tree-group-stylesheets > span.resource-tree-group-label
{
  background-image: url("../ui-images/type_style.png");
}

h2.resource-tree-group-scripts > span.resource-tree-group-label
{
  background-image: url("../ui-images/type_script.png");
}

h2.resource-tree-group-images > span.resource-tree-group-label
{
  background-image: url("../ui-images/type_picture.png");
}

h2.resource-tree-group-fonts > span.resource-tree-group-label
{
  background-image: url("../ui-images/type_font.png");
}

h2.resource-tree-group-other > span.resource-tree-group-label
{
  background-image: url("../ui-images/type_other.png");
}
