.color-picker-popup svg 
{
  display: block;
}
.color-picker-popup
{
  position: relative;
  border: 1px solid #000;
  width: 374px;
  height: 222px;
  background-color: hsl(0, 0%, 30%);
  color: #fff;
  font-family: sans-serif;
  font-size: 12px;
}
.color-picker-2-d-graphic
{
  position: absolute;
  left: 10px;
  top: 10px;
  width: 200px;
  height: 200px;
  border: 1px solid #333;
}
.height-100
{
  height: 100%;
}
.color-picker-1-d-graphic
{
  position: absolute;
  left: 227px;
  top: 10px;
  width: 20px;
  height: 200px;
  border: 1px solid #333;
}
.color-picker-color-old,
.color-picker-color
{
  position: absolute;
  left: 264px;
  top: 10px;
  width: 49px;
  height: 36px;
  border: 1px solid #000;
  margin: 0;
}
.color-picker-color-old
{
  border-right-width: 0;
}
.color-picker-color
{
  left: 314px;
  border-left-width: 0;
}

#color-picker-inputs
{
  position: absolute;
  left: 259px;
  top: 58px;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

#color-picker-inputs td
{
  padding: 0px 2px;
  text-align: left;
}
#color-picker-inputs td:first-child
{
  text-align: right;
}

.color-picker-spacer
{
  height: 10px;
}
.color-picker-number
{
  width: 3.4em;
  margin: 0;
  padding: 0px 1px;
  font-size: 12px;
  font-family: monospace;
}

.color-picker-text
{
  width: 3.8em;
  margin: 0;
  padding: 0px 1px;
  font-size: 12px;
  text-align: right;
  font-family: monospace;
}

.color-picker-slider-base
{
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
}

.color-picker-slider
{
  width: 40px;
  height: 10px;
  position: absolute;
  margin-left: -10px;
  margin-top: -5px;
  left: 0px;
  top: 0px;
}
.color-picker-pointer
{
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  margin-top: -6px;
  xborder: 1px solid red;
}