.color-picker
{
  position: absolute;
  margin-right: 12px; /* (slider width + borders) + 5px margin */
}

.color-picker-popup
{
  position: relative;
  background: #ededed;
  color: #333;
  width: 364px;
  height: 237px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9),
              0 1px 6px 0 rgba(0, 0, 0, 0.45),
              0 0 1px 1px rgba(0, 0, 0, 0.3);
}

.color-picker-2-d-graphic
{
  position: absolute;
  width: 200px;
  height: 200px;
}

.cp-canvas
{
  display: block;
  width: 100%;
  height: 100%;
}

.color-picker-1-d-graphic
{
  position: absolute;
  left: 219px;
  width: 20px;
  height: 200px;
}

.color-picker-color-alpha-bg
{
  position: absolute;
  height: 20px;
  width: 80px;
  top: 210px;
  left: 123px;
  background: #fff;
  background-image: -o-linear-gradient(-45deg,
                                       #c8c8c8 25%,
                                       transparent 25%),
                    -o-linear-gradient(45deg,
                                       #c8c8c8 25%,
                                       transparent 25%),
                    -o-linear-gradient(-45deg,
                                       transparent 75%,
                                       #c8c8c8 75%),
                    -o-linear-gradient(45deg,
                                       transparent 75%,
                                       #c8c8c8 75%);
  background-position: 0 0,
                       4px 0,
                       4px -4px,
                       0 4px;
  background-size: 8px 8px;
  border: 1px solid #fff;
}

.color-picker-color-old,
.color-picker-color
{
  display: inline-block;
  width: 41px;
  height: 22px;
  box-sizing: border-box;
  border: 1px solid rgba(34, 34, 34, .4);
  position: absolute;
  top: -1px;
  left: -1px;
}

.color-picker-color-old
{
    border-right-width: 0;
}

.color-picker-color
{
    left: 40px;
    border-left-width: 0;
}

.color-picker-inputs
{
  position: absolute;
  left: 251px;
  margin: 0;
  border-collapse: collapse;
}

.color-picker-inputs td
{
  padding: 0 2px 5px;
  text-align: left;
  white-space: nowrap;
}

.color-picker-spacer
{
  height: 8px;
}

.color-picker-number
{
  width: 55px;
}

.color-picker-input-unit
{
  position: relative;
  left: -65px;
  color: #aaa;
}

.color-picker-text
{
  position: absolute;
  width: 60px;
  top: 210px;
  left: 39px;
}

.color-picker-number,
.color-picker-text
{
  height: 14px;
  padding: 3px;
}

.color-picker-slider-base
{
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  border: 1px solid rgba(34, 34, 34, .4);
}

.color-picker-2-d-graphic .color-picker-slider-base
{
    overflow: hidden;
}

.color-picker-slider
{
  width: 38px;
  height: 10px;
  position: absolute;
  margin-left: -10px;
  margin-top: -5px;
  left: 0;
  top: 0;
  background-image: -o-linear-gradient(0deg,
                                       hsl(0, 0%, 30%) 0,
                                       hsl(0, 0%, 30%) 4px),
                    -o-linear-gradient(-45deg,
                                       hsl(0, 0%, 30%) 0,
                                       hsl(0, 0%, 30%) 3px,
                                       transparent 3px),
                    -o-linear-gradient(45deg,
                                       hsl(0, 0%, 30%) 0,
                                       hsl(0, 0%, 30%) 3px,
                                       transparent 3px),
                    -o-linear-gradient(0deg,
                                       hsl(0, 0%, 30%) 0,
                                       hsl(0, 0%, 30%) 4px),
                    -o-linear-gradient(-135deg,
                                       hsl(0, 0%, 30%) 0,
                                       hsl(0, 0%, 30%) 3px,
                                       transparent 3px),
                    -o-linear-gradient(135deg,
                                       hsl(0, 0%, 30%) 0,
                                       hsl(0, 0%, 30%) 3px,
                                       transparent 3px);
    background-size: 4px 9px, 5px 5px, 5px 5px, 4px 9px, 5px 5px, 5px 5px;
    background-position: 0 0, 4px 4px, 4px 0, 34px 0, 29px 4px, 29px 0;
    background-repeat: no-repeat;
}

.color-picker-pointer
{
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  margin-left: -9px; /* TODO: Why not -7? Check the JS. */
  margin-top: -9px;
  /* to prevent painting artefacts on moving the pointer */
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.5),
              inset 0 1px 2px rgba(34, 34, 34, 0.5);
}

.black-50
{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.color-picker-palette
{
  max-height: 144px;
  max-width: 192px;
  background: rgba(237, 237, 237, 0.8);
}

.color-picker-palette-item
{
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid rgba(34, 34, 34, .4);
  vertical-align: middle;
  margin: 1px;
  border-radius: 2px;
}

.color-picker-palette-item-add
{
  padding: 1px;
  margin: 1px;
  vertical-align: middle;
}

.color-picker-palette-item-add:before
{
  background: url("../ui-images/icons/icon_add_small.png") center no-repeat;
}

.color-picker-palette-dropdown
{
  position: absolute;
  top: 210px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(34, 34, 34, .4);
  vertical-align: middle;
  border-radius: 2px;
}

.color-picker-controls
{
  position: absolute;
  top: 210px;
  right: 5px;
}

.color-picker-controls button:not(:last-of-type)
{
  margin-right: 5px;
}

.color-picker-target-element
{
  background: #D4E3F4;
}

/* TEMPORARY */
.color-picker-pointer
{
    border-radius: 9px;
}
