#contextmenu
{
  position: fixed;
  z-index: 300;
  display: none;
  min-width: 100px;
  max-width: 300px;
  display: inline-block;
  visibility: hidden;
  list-style-type: none;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 4px 0 ;
}

#contextmenu::selection
{
  background: none;
}

#contextmenu li
{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.5em;
  padding: 2px 14px 2px 4px;
  margin: 0 4px;
  border-radius: 3px;
}

#contextmenu li.separator
{
  padding: 3px 0 4px 0;
  margin: 0;
}

#contextmenu li.disabled
{
  color: #aaa;
}

#contextmenu li:not(.separator):not(.disabled):hover
{
  background-color: #aac2f2;
  color: #000;
  text-shadow: none;
}

#contextmenu li:not(.separator):not(.disabled):active
{
  background-color: #598bec;
  color: #fff;
}

#contextmenu hr
{
  margin: 0;
  padding: 0;
  height: 1px;
  border: none;
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px #fff;
}


/* This is now general menu stuff, and should be moved to a menu.css */

.menu .menu-icon
{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 10px;
  height: 9px;
  margin: 0 6px 0 0;
  overflow: hidden;
}

.menu .check 
{
  background: transparent url("../ui-images/menu_check.png") 50% no-repeat;
}

.menu li:not(.disabled):active .check
{
  background: transparent url("../ui-images/menu_check_selected.png");
}

.menu .radio
{
  background: transparent url("../ui-images/menu_bullet.png") 50% no-repeat;
}

.menu li:not(.disabled):active .radio
{
  background-image: url("../ui-images/menu_bullet_selected.png");
}
