h1 {
  margin:0;
  font-weight:normal;
  background-color:#ccc;
  color:#000;
  padding:3px 7px;
  text-align:right;
  font-size:18px;
  }

h2, h3 {
  margin:0;
  padding:0;
  font-weight:normal;
  font-size:1.6em;
  }

h3 {
  font-size:1.3em;
  }

ul {
  margin:0;
  padding:0;
  list-style:none;
  }

li[hanler] {
  cursor:pointer;
  }

#debug-container {
  xxbackground-color:#ccc;
  xxoverflow: hidden;
  }



xx#debug {
  position:absolute;
  overflow:auto;
  border:1px solid #666;
  background-color:#fff;
  top:25px;
  left:5px;
  right:5px;
  bottom:5px;
  padding:.5em;
  margin:0;
  }




#source-view #line-pointer, #source-view .breakpoint {
  position:absolute;
  content: '\25B6';
  color:#f00;
  font-size: 20px;
  list-style:none;
  line-height:24px;
  height:24px;
  padding:0;
  margin:0;
  margin-top:-4px;
  left:0px;
  }

#source-view .breakpoint {
  content: '\25C9';
  color:#f00;
  left:0px;
  }


#command-line {
  overflow:hidden;
  }
#command-line textarea {
  width:100%;
  height:100%
  }

#command-line input {

  }

#command-line-debug-container {

  }

#command-line-debug-container textarea {
  width:100%;
  height:80%
  }

  

.folder li li {
  margin-left:18px;
  }

.folder-key {
  border:none;
  margin:0;
  margin-right:7px;
  padding:0;
  font-size:10px;
  line-height:11px;
  height:11px;
  width:11px;
  background: transparent url('data:image/gif,GIF89a%0B%00!%00%A2%00%00%00%00%00%FF%FF%FF%CC%CC%CCfff%FF%FF%FF%00%00%00%00%00%00%00%00%00!%F9%04%01%00%00%04%00%2C%00%00%00%00%0B%00!%00%00%03%3D(%BA%AC%F1%10%3A8%E2%7CU%8A%98%9F%1B%60X%5DA%17%90%26jm%D1%DA%BC0%D3%AE%B3V%7Bl%FD%89%E0%99%CF%A4V%90v%8B1%08%C8%A4r%C9l%3A%9FPfi%1A%ADZ%AF%CB%04%00%3B') scroll no-repeat 0 0;
  cursor:pointer;
  }

.folder-key[disabled="true"] {
  opacity: .3;
  }

.failed {
  color:red;
  }

/* backtrace */

#backtrace-container, #examine-objects-container {
  padding:.3em;
  }


#backtrace-container li {
  padding-left: 20px;
  line-height:16px;
  background: transparent url('../ui-images/selected-frame.png') scroll no-repeat -20px 0;
  cursor:pointer;
  }

#backtrace-container li:first-child {
  background-image: url('../ui-images/selected-frame-top.png');
  }

#backtrace-container li.selected {
  background-position: 0 0;
  }

#ecma-debugger-toolbar {
  background-color:#ccc;
  }

#ecma-debugger-toolbar:after {
  content:'';
  display:block;
  clear:both;
  }

#continues, .dropdowns {
  height:24px;
  line-height:24px;
  float:left;
  }

#continues {
  margin-left:5px;
  }

[handler] {
  cursor: pointer;
  }
  
input[type="text"] {
  cursor: text;
}


#main-button-toolbar {
  float:left;
  }

.dropdowns > li {
  float:left;
  padding:0;
  margin:0 5px;
  cursor:pointer;
  position:relative;
  z-index:1;
  }

#drop-down-view {
  position:absolute;
  left:0;
  right:0;
  border:1px solid #333;
  background-color:#fff;
  padding:.5em;
}

[handler="select-window"], [handler="display-script"], [handler="show-global-scope"] {
  cursor:pointer;
  }


[window_id].selected > span {
  color:#930;
  font-weight:bold;
  }


[handler="display-script"].selected {
  color:#333;
  font-weight:bold;
  }

[handler="display-script"].selected:before {
  content:'[';
  padding-right:.3em;
  }

[handler="display-script"].selected:after {
  content:']';
  padding-left:.3em;
  }
  
[handler="display-stylesheet"].selected {
  color:#333;
  font-weight:bold;
  }

[handler="display-stylesheet"].selected:before {
  content:'[';
  padding-right:.3em;
  }

[handler="display-stylesheet"].selected:after {
  content:']';
  padding-left:.3em;
  }

.window-container {
  position:absolute;
  top:22px;
  left:1px;
  right:5px;
  bottom:5px;
  padding:.5em;
  overflow:auto;
  }

/*** views ***/

.padding {
  padding:9px;
  }

/*** view error console ***/

.error-console   {
  background-color:#f2f2f2;
  }

.error-console date {
  float:right;
  xxline-height:22px;
  padding:7px;
  }

.error-console h2 {
  padding:0;
  margin:0;
  padding-left:30px;
  background:transparent url('../ui-images/error-console-default.png') scroll no-repeat 5px 1px;
  }


.error-console h2[severity="debug"] {
  background-image:url('');
  }

.error-console h2[severity="verbose"] {
  background-image:url('');
  }

.error-console h2[severity="information"] {
  background-image:url('../ui-images/error-console-info.png');
  }

.error-console h2[severity="error"] {
  background-image:url('../ui-images/error-console-error.png');
  }

.error-console h2[severity="critical"] {
  background-image:url('../ui-images/error-console-critical.png');
  }

.error-console uri, .error-console context {
  display: block;
  padding: 2px;
  padding-left:30px;
  }

.error-console pre {
  white-space:pre-wrap;
  border-top:1px solid #b3b3b3;
  border-bottom:1px solid #b3b3b3;
  background-color:#fff;
  font-family:monospace;
  font-size:12px;
  margin:0;
  padding:7px;
  padding-left:30px;
  }





/*** view debug ***/



.debug-container > div {
  white-space:pre;
  xxfont-family:monospace;
}

.selected-runtime {
  font-weight:bold;
  color:#09f;
}


.info {
  position:absolute;
  left:20%;
  top:10%;
  width:60%;
  height:100px;
  border:5px solid red;
  background-color:#fce8cf;
  padding:20px;
  z-index:100;
  }

.info h2 {
  text-align: center;
  }

/* command line */



.console-output,
.console-output pre,
.console-input, 
.console-input textarea {
  line-height:16px;
  font-size:14px !important;
  font-family:monospace;
  padding:0;
  margin:0;
  }

.console-output pre {
  white-space: pre-wrap;
  }

.console-input span {
  float:left;
  }

.console-input span + div {
  margin-left: 4ex;
  }
  
.console-input textarea {
  width:100%;
  border:0px solid;
  margin:0;
  padding:0;
  overflow:hidden;
  }


#examine-objects li li {
  padding-left:18px;
  }

#examine-objects .key {
  margin-right:7px;
  }

.css-inspector pre {
  white-space: pre-wrap;
  }

p[handler="update-global-scope"] {
  padding:0;
  margin:0;
  color: #999;
  text-decoration: underline;
  text-align: center;
  }

p[handler="update-global-scope"]:hover {
  color: #333;
  }

.export-data pre {
  padding: 0;
  margin: 0;
  }

/* styleseeht view */

stylesheet, import-rule, media-rule, rules {
  display: block;
  }

rule, font-face-rule, page-rule {
  font-family:monospace;
  display:block;
  white-space: pre-wrap;
  margin: 1em 0;
  }

.stylesheets pre {
  background:red;
  }
  
media{
  white-space: pre-wrap;
  }
  
media-rule rules {
  padding-left: 2ex;
  }

/* css inspector class css-inspector */

.css-inspector rule {
  margin:0;
  }

category, header, styles, stylesheet-link {
  display:block;
  }

stylesheet-link {
  text-align:right;
  color: #ccc;
  text-decoration: underline;
  }

stylesheet-link:hover {
  color: #666;
  }

styles {
  white-space: pre-wrap;
  font-family:monospace;
  }

.unfolded styles {
  padding: 5px;
  }

category {

  }

category header {
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-width: 0 0 1px;
  background-color: hsl( 0, 0% , 95%);
  padding: 2px;
  }

category.unfolded + category header {
  border-top-width: 1px;
}


.css-inspector header input {
  background:transparent url('../ui-images/toggle.png') scroll no-repeat 0 0;
  border:none;
  padding:0;
  margin:0px 5px;
  width:14px;
  height:14px;
  cursor: pointer;
  }

.css-inspector header input:hover {
  background-position: 0 -14px;
  }

.css-inspector header input:active {
  background-position: 0 -28px;
  }

.css-inspector header input.unfolded {
  background-position: -14px 0;
  }

.css-inspector header input.unfolded:hover {
  background-position: -14px -14px;
  }

.css-inspector header input.unfolded:active {
  background-position: -14px -28px;
  }

.css-inspector key.overwritten, .css-inspector value.overwritten {
  color: #ccc;
  }

.css-inspector value.overwritten:after {
  content: " [overwritten]";
  color: #c90;
  }
  
.css-inspector key.inherited, .css-inspector value.inherited {
  color: #ccc;
  }

.css-inspector value.inherited:after {
  content: " [inherited]";
  color: #09c;
  }

.css-inspector h2 {
  font-size: 12px;
  font-weight: normal;
  border: 1px solid #ccc;
  border-width:1px 0;
  background-color: hsl( 0, 0%, 95%);
  text-align: center;
  margin: 10px -5px;
  color: hsl(0, 0%, 50%)
  }
  
.css-inspector h2 b {
  color: #279;
  }


examine-objects, examine-objects item {
  display:block;
  }

examine-objects, .dom-attrs {
  background-color: hsl(0, 0%, 92%);
  }

examine-objects item {
  padding: 0 9px;
  }

examine-objects key {
  margin-right:7px;
  }



examine-objects .back-refernce value:after {
  content: "[selected object]";
  color: #c90;
  margin-left: 7px;
  }

start-search-scope, end-search-scope {
  display:block;
  height:3px;
  background-color: #fff;
  }


item.search-scope {
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid hsl(0, 0%, 75%);
  border-width: 1px 0;
  background-color: hsl(0, 0%, 97%);
  font-weight: bold;
  }


item.search-scope + item.search-scope {
  border-top-width: 0;
  }

item.selected {
  background-color:#eec;
  }


examine-objects start-search-scope:first-child {
  height: 4px;
  }

end-search-scope {
  border-bottom: 1px solid hsl(0, 0%, 75%);
  margin-bottom: 3px;
  }

examine-objects end-search-scope:last-child {
  border-bottom: 3px solid hsl(0, 0%, 100%);
  margin-bottom: 0;
  }

start-search-scope ~ item {
  background-color: #fff;
  }

start-search-scope ~ end-search-scope ~ item {
  background-color: transparent;
  }
  
.metrics ul {
  margin:0;
  padding:0;
  list-style:none;
  display:table-row;
  }
.metrics li {
  display: table-cell;
  border: 1px solid transparent;
  text-align:center;
  vertical-align:middle;
  padding: 1px;
  }
.metrics p {
  position:relative;
  margin:0;
  padding:0;
  }
.metrics span {
  position:absolute;
  top:0;
  left:0;
  font-size: 11px;
  }
.metrics .element {
  white-space:nowrap
  }
.metrics .element li {
  width: 300px
  }
.metrics .element .elementHeight{
  text-align:left
  }
.metrics .element,
.metrics .padding,
#tree .metrics.margin {
  border-color: #324c74;
  background-color: #fff;
  }
.metrics .border {
  border-color: #324c74;
  background-color:#c7d4e8;
  }
  
offsets-container {
  display:block;
}

parent-offset {
  border: 1px solid #324c74;
  background-color:#c7d4e8;
  padding: 0 2px;
}
  
offsets{
  display:table;
}

offsets item {
  display:table-row;
}

offsets key, offsets value  {
  display:table-cell;
}

offsets value  {
  text-align: right;
  padding-left: 8px;
}

stylesheet-link.pseudo, stylesheet-link.pseudo:hover {
  text-decoration: none;
  color: hsl(0, 0%, 50%);
}

.info-text {
  margin: 10px 0;
  padding: 8px;
  background: hsl(0, 0%, 92%) url('../ui-images/error-console-info.png') no-repeat 5px 50%;
  line-height: 20px;
  padding-left: 35px;
  border: 1px solid #ccc;
  color: #666;
  }

.dom input {
  border: 0;
  margin: 0;
  margin-left: -15px;
  padding-right:4px;
  cursor: pointer;
  height: 11px;
  width: 11px;
  color: #666;
  background: transparent url('data:image/gif,GIF89a%0B%00!%00%A2%00%00%00%00%00%FF%FF%FF%CC%CC%CCfff%FF%FF%FF%00%00%00%00%00%00%00%00%00!%F9%04%01%00%00%04%00%2C%00%00%00%00%0B%00!%00%00%03%3D(%BA%AC%F1%10%3A8%E2%7CU%8A%98%9F%1B%60X%5DA%17%90%26jm%D1%DA%BC0%D3%AE%B3V%7Bl%FD%89%E0%99%CF%A4V%90v%8B1%08%C8%A4r%C9l%3A%9FPfi%1A%ADZ%AF%CB%04%00%3B') 0 0 no-repeat;
  }



.dom input.open {
  background-position:0 -11px;
  }

.dom .node {
  cursor:pointer;
  }







