#ui-dialog-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
}
#ui-dialog {
    display: inline-block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 3px;
    background: #fff;
    padding: 10px;
    max-width: 500px;
    visibility: hidden;
}
#ui-dialog.visible {
    position: absolute;
    visibility: visible;
}
#ui-dialog-buttons {
    margin-top: 5px;
    text-align: right;
}
#ui-dialog-buttons button {
    margin-left: 5px;
}
