/* TODO: some of this should be merged into syntax-highlight.css */

container.console {
    background: #262626;
}

.console textarea {
    background: transparent;
    color: #fff;
    vertical-align: text-top;
}

.console .dom-tree node,
.console key,
.console text,
.console selector,
.console .js-source,
.console .element-name,
.console .repl-input,
.console .repl-output,
.console #examine-objects .object,
.console .js-source,
.console examine-objects .object,
.console .datetime {
  color: #fff;
}
.console .prototype-chain-object {
  background-color: rgba(255, 255, 255, 0.1);
}
.console #target-element,
.console .dom-tree .spotlight-node:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-color: rgba(255, 255, 255, 0.20);
}
.console ::selection {
  color: #f33;
}

.console .js_keywords {
  color: #66c;
}
.console .repl-pobj,
.console .js_builtins {
  color: #88f;
}

.console .inspect-object-link:hover {
  text-decoration: none;
}

.console .inspect-node-link:hover {
  text-decoration: none;
  background: #000;
}

.console .inspect-object-link:hover {
  background: #000;
}

.console .dom-tree input
{
  background-image: url('../ui-images/expand-collapse-inverted.png');
}

.console .folder-key
{
  background-image: url('../ui-images/expand-collapse-inverted.gif');
}

.console examine-objects examine-objects
{
  background-image: url('../ui-images/dom-tree-style-inverted.png');
}

.console .tree-style > div { 
  background-color: transparent;
 }

