#js-source
{
  position: relative;
  padding: 0;
}

#js-source-scroll-content,
#js-source-scroll-container
{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}

#js-source-scroll-content
{
  left: 40px;
}

#js-source-scroll-container {
  /* the correct width is set dynamically 
     to scroll bar width in JsSourceView */
  width: 50px;
}

#js-source-content div
{
  color: #000;
  white-space: pre;
  padding-left: 10px;
  -o-tab-size: 4;
}

#js-source-content .not-error
{
  display: inline-block;
  padding-left: 10px;
  margin-left: -10px;
}

#js-source-content .first-error-line,
#js-source-content .stop-at-error
{
  position: relative;
  overflow: visible;
}

#js-source-content .stop-at-error
{
  background-color: rgba(255, 0, 0, 0.15);
}

#js-source-content .error-description
{
  position: absolute;
  white-space: pre-wrap;
  left: 30px;
  top: 30px;
  height: auto;
  z-index: 1;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2),
              0 1px 1px rgba(0, 0, 0, 0.1);
  background: hsl(0, 85%, 40%);
  color: #fff;
  font-weight: bold;
}

/* line number */ 
#js-source-line-numbers
{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #f3f3f3;
  width: 40px;
  border-right: 1px solid #e6e6e6;
}

#break-point-container
{
  background-color: transparent;
}

#js-source-line-numbers li
{
  position: relative;
}

#js-source-line-numbers span
{
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 100%;
  background: transparent url('../ui-images/line-types.png') no-repeat 0 0;
}

#js-source-line-numbers input
{
  width: 37px;
  text-align: right;
  border: none;
  margin: 0;
  padding: 0;
  padding-right: 3px;
  background-color: transparent;
  height: 100%; /* should be the same as the line height #js-source-content li */ 
  font-size: inherit;
  font-family: inherit;
  vertical-align: middle;
  color: #b3b3b3;
}

#js-source-line-numbers input:hover
{
  background-color: #f0f0f0;
}

.js-tooltip
{
  min-width: 280px;
  padding: 5px;
}

.js-tooltip-title
{
  color: red;
}

.js-identifier-selected,
.js-identifier-selected-first,
.js-identifier-selected-between,
.js-identifier-selected-last 
{
  background-color: #d4e3f4; 
  background-image: -o-linear-gradient(-90deg, #d4e3f4 30%, #d4e3f4 100%);
  border-color: #ceba73;   
  border-top-color: #dbd3ad;
  border-bottom-color: #c7b267;
  color: #000000;
}
