html {
  font-family: "Dejavu Sans", "Bitstream Vera Sans", "Lucida Grande", "Segoe UI", Tahoma, sans-serif;
  font-size: 11px;
  color: #333;
}

.sortable-table {
  width: 100%;
  border-collapse: collapse;
}

.sortable-table td, .sortable-table th {
  border: 1px solid rgba(0,0,0,0.1);
  padding: 6px 5px 2px 5px;
  text-align: left;
}

.sortable-table  tr:nth-child(odd) {
  background-color: rgba(0,0,0,0.025);
}

.sort-column:before {
  content: url(../ui-images/sort_desc.png);
  position: relative;
  margin-right: 4px;
  top: 2px;
}

.sort-column.reversed:before {
  content: url(../ui-images/sort_asc.png);
}

.sortable-table tr.header {
  background-color: rgba(0,0,0,0.1);
  font-weight: bold;
}

.sortable-table tr:not(.header):hover, .sortable-table tr.header th:hover  {
  background-color: rgba(55,115,211,0.5);
}

.sortable-table tr:not(.header):active, .sortable-table tr.header th:active, .sortable-table tr.selected:not(.header) {
  background-color: rgba(55,115,211,1.0);
  color: #fff;
}

.sortable-table tr .sorted-by {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQIHWNgYAcAAAoACCRAuTwAAAAASUVORK5CYII%3D);
}
