/* ecma object tree */

#examine-objects li li {
  padding-left:18px;
  }

#examine-objects .key {
  margin-right:7px;
  }


#examine-objects .key, examine-objects key {
  color: #111;
  }

#examine-objects .string, examine-objects .string {
  color:#742;
  }

#examine-objects .number, examine-objects .number, offsets value {
  color:#920;
  }

#examine-objects .undefined, examine-objects .undefined {
  color:#c00;
  font-style: italic;
  }

#examine-objects .null, examine-objects .null {
  color:#c00;
  font-style: italic;
  }

#examine-objects .boolean, examine-objects .boolean {
  color:#920;
  }

#examine-objects .object, examine-objects .object {
  color:#18a;
  }

/* ecma script source */

#js-source-content div {
	font-family: monospace;
	color: #111;
  }

#js-source-content .comment {
  color: #888;
  }

#js-source-content .js_builtins {
  color: #18a;
  }

#js-source-content .js_keywords {
  color: #01c;
  }

#js-source-content .number {
  color: #920;
  }

#js-source-content .punctuator {
  color: #000;
  }

#js-source-content .reg_exp {
  color: #c71;
  }

#js-source-content .string {
  color: #a31;
  }

#js-source-content .not-error
{
  background-color: #fff;
}

#js-source-content .first-error {
  color: #333;
  background-color: #f90;
  }

#js-source-content .error {
  color: #999;
  }

#js-source-content  .first-error-line,
#js-source-content  .error-line
{
  background-color: #e6e6e6;
}



/* dom */

.dom div {
	font-family: monospace;
	color: #111;
  }

#target-element
{
	background-color:#eec;
  margin-top: -1px;
  margin-right: -1px;
  margin-bottom: -1px;
  border: 1px solid hsl(60, 30%, 60%); 
  position: relative;
  z-index: 1;
}

.dom [handler="spotlight-node"]:hover
{
  background-color: #f5f5e0;
}

.dom .comment{
	color:#888;
  }

.dom node, selector {
  color: #279;
  }

.dom key, .stylesheets key, .css-inspector key {
	color:#229;
  }

.dom value, .doctype-value, .stylesheets value, .css-inspector value {
	color:#742;
  }

.dom .text-node, .dom .comment-node, .dom .cdata-node {
	color: #abbaba;
  }

.dom .document-node {
	color: #294556;
  }

.dom .document-node {
	color: #294556;
  }

.dom .doctype
{
	color: #1a5c75;
}

.dom doctype-attrs
{
	color: #1a1a75;
}

.tree-style > div > div {
  background:transparent url('../ui-images/dom-tree-style.gif') scroll repeat 10px 0;
  }

.tree-style > div > div > div {
  background-color: #fff;
  }

.tree-style > div > div > div > node:first-child:before {
  display:inline-block;
  vertical-align: middle;
  content: '';
  width:10px;
  height:1px;
  background:transparent url('../ui-images/dom-tree-style-h.gif') scroll no-repeat 0 0;
  margin-left: -10px;
  margin-right: 1px;
  }

.tree-style > div > div > div:first-child > span:first-child:before {
  display:none;
  }
  
media, at {
  color: #279;
  }

.stylesheets .import-rule {
  color: #279;
  }
