/* JavaScript and generic */

.null,
.undefined
{
  color: #b43;
  font-weight: bold;
}

.boolean
{
  color: #d60;
}

.error
{
  color: #f60;
  font-style: italic;
}

.number
{ /* TODO: use class */
  color: #c32;
}

.string
{
  color: #a54;
}

.object
{
  color: #555;
  background-color: rgba(0, 0, 0, 0.075);
  border-radius: 2px;
}

.script_getter
{
  color: #999;
  font-style: italic;
}

.punctuator
{
  color: #000;
}

.reg_exp
{
  color: #3a3;
}

.js_builtins
{
  color: #55a;
}

.js_keywords
{
  color: #338;
  font-weight: bold;
}


/* JavaScript */

.js-source .not-error
{ /* TODO: Not specified */
  background-color: #fff;
}

.js-source .first-error
{ /* TODO: Not specified */
  color: #fff;
  padding: 1px;
  margin: -1px;
  background-color: #8a2929;
  border-radius: 3px;
}

.js-source .error
{ /* TODO: Not specified */
  color: #999;
}

.js-source .first-error-line,
.js-source .error-line
{ /* TODO: Not specified */
  background-color: #e6e6e6;
}

.highlight-source
{ /* TODO: Not specified */
  background-color: yellow;
}

.selected-js-source-line
{
  background-color: #d4e3f4;
}


/* Property inspector */

#examine-objects .key,
examine-objects key
{
  color: #111;
}


/* DOM */

.doctype,
.comment
{
  color: #987;
  font-style: italic;
}

.document-node
{
  color: #294556; /* TODO: Not specified */
}

.markup-tag,
.dom node, /* TODO: use class */
.dom-search node,
.element-name
{
  color: #338;
}

.markup-attribute,
.dom key,
.dom-search key
{
  color: #55a;
}

.markup-attribute-value,
.dom-search value,
.dom value
{
  color: #a54;
}

.markup-bogus-comment,
.markup-comment,
.comment-node,
.cdata-node,
.text-node
{
  color: #987;
  font-style: italic;
}

.dom .pseudo-element
{
  color: rgba(34, 34, 34, 0.5);
}


/* CSS */

.css-selector
{
  color: #338;
  font-weight: bold;
}

.css-property
{
  color: #55a;
}

.css-property-value
{
  color: #111;
}

.css-priority
{
  white-space: nowrap;
}

.overwritten
{
  text-decoration: line-through;
}

/* Prevent the line-through from inheriting the closest color */
.overwritten .overwritten {
    text-decoration: none;
}

.css-declaration.disabled
{
    color: #999;
}

.non-editable
{
  background: transparent url("../ui-images/disabled_stripe_tile.png");
}

.css-rule.non-editable
{
  margin: 0 -5px; /* This is ugly */
  padding: 5px;
}

.css-rule:not(.non-editable) + .css-rule.non-editable
{
  margin: -5px -5px 0; /* Adjust this so that the spacing is always consistent between rules */
}

.css-inspector .non-editable .css-property
{
  color: #4c7899;
}

.css-inspector .css-property-value
{
  word-wrap: break-word;
}

.css-inspector .non-editable .css-property-value
{
  color: #aaa;
}

.import-rule
{
  color: #279;
}


/* Much of this does not belong here since it's not syntax highlighting */
/* ecma object tree */

#examine-objects li li
{
  padding-left: 18px;
}

#examine-objects .key
{
  margin-right: 7px;
}


/* dom */

.spotlight-node
{ /* TODO: Use same highlighting in CSS inspector */
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
}

.spotlight-node:hover,
.css-rule:not(.non-editable) .css-declaration:hover
{
  border-color: #e0eaf6;
  background: #f2f5f9;
}

#target-element,
.spotlight-node:active
{
    border-color: #c5daf1;
    background: #d4e3f4;
}

.dom ::selection
{
  /* TEMP */
  background-color: #598bec;
  color: #fff;
}

.tree-style
{
  background: transparent url('../ui-images/dom-tree-style.png') scroll repeat 9px 0;
}

.tree-style > div
{
  border: 1px solid transparent;
  border-radius: 2px;
  border-bottom-color: #fefefe;
  background-image: -o-linear-gradient(-90deg,
                                       transparent 0,
                                       transparent 1px,
                                       #fefefe 1px);
  background-image: linear-gradient(transparent 0,
                                    transparent 1px,
                                    #fefefe 1px);
  background-repeat: no-repeat;
}

.tree-style > div > node:first-child:before
{
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 7px;
  height: 1px;
  background:transparent url('../ui-images/dom-tree-style-h.png') scroll no-repeat 0 0;
  margin-left: -8px;
  margin-right: 1px;
}

.tree-style > div:first-child > span:first-child:before
{
  display: none;
}
