/* JavaScript and generic */

.null,
.undefined {
    color: #aaa;
}

.boolean {
        color: #d60;
    }

.number,
offsets value { /* TODO: use class */
    color: #6c0;
}

.string,
.dom value { /* TODO: use class .attribute-name */
    color: #c44;
}

.object {
    color: #666;
    background-color: rgba(0, 0, 0, .075);
}

.punctuator { /* TODO: Not specified */
    color: #000;
}

.reg_exp { /* TODO: Not specified */
    color: #c71;
}

.js_builtins { /* TODO: Not specified */
    color: #ac35a9;
}

.js_keywords {
    font-weight: bold;
}

/* JavaScript */

.js-source .not-error { /* TODO: Not specified */
    background-color: #fff;
}

.js-source .first-error { /* TODO: Not specified */
    color: #333;
    background-color: #f90;
}

.js-source .error { /* TODO: Not specified */
    color: #999;
}

.js-source .first-error-line,
.js-source .error-line { /* TODO: Not specified */
    background-color: #e6e6e6;
}

.highlight-source { /* TODO: Not specified */
    background-color: yellow;
}

/* Property inspector */

#examine-objects .key,
examine-objects key {
    color: #111;
}

/* DOM */

.doctype,
.comment {
    color: #bbb;
}

.text-node,
.comment-node,
.cdata-node {
	color: #abbaba; /* TODO: Not specified */
}

.document-node {
    color: #294556; /* TODO: Not specified */
}

.dom node, /* TODO: use class */
.element-name {
    color: #55b;
}

.dom key { /* TODO: Rename to .attribute-name */
    color: #336;
}

/* CSS */

selector { /* TODO: use class */
    color: #08d;
}

.css-inspector key { /* Rename to .property */
    color: #059;
}

.css-inspector value { /* Use class */
    color: #111;
}

.overwritten {
    text-decoration: line-through;
    /* more... */
    color: #555;
}

property.disabled, /* TODO: rename to .declaration */
.disabled key,
.disabled value {
    color: #999;
}

.non-editable {
    background: transparent url("../ui-images/disabled_stripe_tile.png");
}
rule.non-editable {
    margin: -5px; /* This is ugly */
    padding: 5px;
}
.css-inspector .non-editable key {
    color: #4c7899;
}
css-inspector .non-editable value {
    color: #aaa;
}

media, at { /* TODO: Use classes */
    color: #279;
}

.import-rule {
    color: #279;
}

/* Much of this does not belong here since it's not syntax highlighting */

/* ecma object tree */

#examine-objects li li {
  padding-left:18px;
  }

#examine-objects .key {
  margin-right:7px;
  }

/* dom */

[handler="spotlight-node"] { /* TODO: Use same highlighting in CSS inspector */
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
}

[handler="spotlight-node"]:hover,
property:hover {
    border-color: #e0eaf6;
    background: #f2f5f9;
}

#target-element,
[handler="spotlight-node"]:active {
    border-color: #c5daf1;
    background: #d4e3f4;
}

.dom ::selection {
  /* TEMP */
  background-color: #598bec;
  color: #fff;
}

.tree-style
{
  background:transparent url('../ui-images/dom-tree-style.png') scroll repeat 9px 0;
}

.tree-style > div
{
  background-color: #fafafa;
}

.tree-style > div > node:first-child:before
{
  display:inline-block;
  vertical-align: middle;
  content: '';
  width: 7px;
  height: 1px;
  background:transparent url('../ui-images/dom-tree-style-h.png') scroll no-repeat 0 0;
  margin-left: -8px;
  margin-right: 1px;
}

.tree-style > div:first-child > span:first-child:before
{
  display:none;
}

.search-highlight
{
  background-color: #ff0;
  color: #000;
}
.search-highlight-selected
{
  background-color: #0f0;
  color: #000;
}
