tabs
{
  height: 21px;
  padding: 2px 2px 0 0; /* Tab will be pushed down one pixel, hence only 1 pixel at the top */
}

tab
{
  display: block;
  float: left;
  height: 15px;
  line-height: 15px;
  padding: 2px 6px 3px;
  border: 0 transparent solid;
  border-width: 1px 1px 0;
  position: relative;
  top: 1px; /* Push down one pixel to hide the border */
}

tabs tab
{
  border-radius: 3px 3px 0 0;
  margin-right: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
}

tabs tab.active
{
  background: #fefefe;
  border-color: #999;
  box-shadow: 0 0 3px #ccc;
}

tabs tab:not(.active):hover
{
  background-color: #eee;
  border-color: #ccc;
  padding-bottom: 2px;
}

tabs tab:not(.active)
{
    color: #666;
}

top-tabs
{
  top: 0;
  left: 0;
  height: 30px;
  overflow: hidden;
  background-color: #e9e9e9;
  background-image: -o-linear-gradient(-90deg,
                                       rgba(255, 255, 255, 0.90) 0,
                                       rgba(255, 255, 255, 0.20) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.90) 0,
                                    rgba(255, 255, 255, 0.20) 100%);
}

/* this is a quick hack to get the runtime button in the tabs bar */
top-tabs toolbar-buttons
{
  margin: -7px 3px 0 -2px;
}

top-tabs tab
{
  height: 30px;
  line-height: 30px;
  border: 1px solid transparent;
  border-width: 0 1px;
  padding: 0 8px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  top: 0;
  background-color: #e9e9e9;
  background-image: -o-linear-gradient(-90deg,
                                       rgba(255, 255, 255, 0.90) 0,
                                       rgba(255, 255, 255, 0.20) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.90) 0,
                                    rgba(255, 255, 255, 0.20) 100%);
}

top-tabs tab .inline-block
{
  vertical-align: top;
}

top-tabs tab .block-content
{
  display: inline;
  vertical-align: baseline;
  line-height: 1;
}

top-tabs .two-rows .inline-block
{
  vertical-align: middle;
  line-height: 2;
}

top-tabs .two-rows .block-content
{
  display: block;
}

top-tabs tab:first-child
{
  border-left-width: 0;
  padding-left: 9px;
}

top-tabs tab.active
{
  background-color: #cecece;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.2);
}

top-tabs tab.active:first-of-type
{
  border-left-color: transparent;
}


/* Alert state - Warning & Error */

top-tabs tab.alert
{
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
  background-color: #f6ae66;
  color: #662914;
}

top-tabs tab.alert.active
{
  background-color: #f2883d;
  box-shadow: inset 0 1px 4px rgba(128, 0, 0, 0.3),
              inset 0 1px 2px rgba(128, 0, 0, 0.4),
              -1px 0 rgba(0, 0, 0, 0.3);
}


/* Alert state - Information */

top-tabs tab[data-state="waiting"]
{
  background-color: #aadaf2;
  color: #263f5d;
}

top-tabs tab[data-state="waiting"].active
{
  background-color: #8ac7e5;
  box-shadow: inset 0 1px 4px
              rgba(0, 64, 128, 0.3),
              inset 0 1px 2px rgba(0, 64, 128, 0.4),
              -1px 0 rgba(0, 0, 0, 0.3);
}

.icon
{
  display: inline-block;
  height: 30px;
  width: 32px;
  vertical-align: top;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

top-tabs .badge
{
  position: absolute;
  background: #cf3015; /* daniel/david edit 2011-07-01, was: #df6531 */
  color: #fff; /* daniel/david edit 2011-07-01, was: #000 */
  text-shadow: 0 0 1px;  /* daniel/david edit 2011-07-01, was: none */
  line-height: 1;
  padding: 1px 3px;
  border-radius: 4px;
  top: 1px;
  right: 1px;
  font-size: 9px;
}
top-tabs .badge:empty
{
  display: none;
}


/* Top tabs */
/* Width depends on the images */

.dom_mode
{
  background-image: url("../ui-images/mode_documents.png");
  width: 28px;
}

.js_mode
{
  background-image: url("../ui-images/mode_scripts.png");
  width: 22px;
}

.network_mode
{
  background-image: url("../ui-images/mode_network.png");
  width: 23px;
}

.resource_panel
{
  background-image: url("../ui-images/mode_resources.png");
  width: 23px;
}

.storage {
  background-image: url("../ui-images/mode_storage.png");
  width: 24px;
}

.console_mode {
  background-image: url("../ui-images/mode_errors.png");
  width: 25px;
}

.utils {
  background-image: url("../ui-images/mode_utilities.png");
  width: 25px;
}

.console_panel {
  background-image: url("../ui-images/mode_console.png");
  width: 25px;
}

.profiler_mode
{
  background: url("../ui-images/mode_profiler.png");
  width: 25px;
}

.debug_new
{
  background-image: url("../ui-images/mode_debug.png");
  width: 25px;
}
