viewport {
  width: 100%;
  height: 100%;
  display: block;
  font-family: sans-serif;
  font-size: 12px;
  overflow: hidden;
  }

main-view { /**/
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  }

windows-container, 
toolbar, 
tabs, 
container, 
top-tabs, 
statusbar, 
top-statusbar, 
top-container, 
top-toolbar {
  display: block;
  position: absolute;
  }

/* set with css. height, border and padding are supported */

top-container { /**/
  border-bottom: 1px solid #c9cdd0;
  border-left: 1px solid #c9cdd0;
  border-right: 1px solid #c9cdd0;
  padding: 4px 4px;
  background-color: #e1e4e9;
  }

/* set with css. height, border and padding are supported */

container { /**/
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #fff;
  overflow: hidden;
  } 

window container { /**/
  display: block;
  position: relative;
  border-width: 0;
  background-color: #eff2f7;
  }

/* set with css. height, border and padding are supported */

top-statusbar { /**/
  background-color: #f5f7fa;
  line-height: 27px;
  height: 27px;
  overflow: hidden;
  }

top-statusbar.type-tooltip 
{
  overflow: visible;
  z-index: 20;
}

top-statusbar.type-tooltip info
{
  display: block;
  position:absolute;
  bottom: 0;
  left: 80px;
  margin: 0px;
  background-image: -o-skin('Speed Dial Configuration Dialog Skin');
  padding: 0px 9px 7px 5px;
  min-height: 22px;
  min-width: 22px;
}

top-statusbar .switch-info-type 
{
  width: 16px;
  background-image: url('../ui-images/btn-switch-statusbar-type.png');
  border: none;
  background-position: -5px -3px;
  background-repeat: no-repeat;
}

top-statusbar.type-tooltip .switch-info-type
{
  background-position: -31px -3px;
}

window-statusbar { /**/
  display: block;
  background: #e1e4e9 url('../ui-images/window-dragger.png') no-repeat 100% 100%;
  border-top: 1px solid #ccc;
  line-height: 20px;
  height: 20px;
  }

info { /**/
  padding: 0 7px;
  }


.scroll {
  overflow: auto;
  }
	
top-toolbar { /**/
  height: 26px;
  padding-right: 0px;
  background-color: #f5f7fa;
  }



window-toolbar { /**/
  display: block;
  height: 26px;
  background-color: #e1e4e9;
  border-bottom: 1px solid #ccc;
  }

/* set with css. height, border and padding are supported */

toolbar { /**/
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #f5f7fa;
	padding: 0 1px;
  height: 26px;
  }

toolbar-buttons, toolbar-switches {
  display: block;
  float: left;
  }

toolbar button, 
top-toolbar button, 
window-controls button
{
  background: transparent none;
  border-color: transparent;
  border-style: solid;
  cursor: pointer;
  /* default padding values */
  padding: 1px 8px;
  margin: 2px 3px;
}
toolbar button:before, 
top-toolbar button:before, 
window-controls button:before, 
window-toolbar button:before
{
  content: '\00A0';
  display: inline-block;
  background: transparent url('../ui-images/btn-test.png') scroll no-repeat 0 0;
  height: 24px;
  width: 26px; 
  margin: -4px -12px;
  vertical-align: 4px;
}
toolbar-switches button:before 
{
  background: transparent url('../ui-images/btn-test-switch.png') scroll no-repeat 0 0;
}
toolbar button[disabled]:before,
toolbar button[disabled]:hover:before,
toolbar button[disabled]:active:before,
window-toolbar button[disabled]:before,
window-toolbar button[disabled]:hover:before,
window-toolbar button[disabled]:active:before
{
  background-position: 0 -72px;
}
toolbar button:hover:before, 
window-controls button:hover:before,
window-toolbar button:hover:before
{
  background-position: 0px -24px;
}
toolbar button:active:before, 
window-controls button:active:before,
window-toolbar button:hover:before
{
  background-position: 0px -48px;
}
/* switches */
toolbar button.switch[is-active="true"]:before,
window-toolbar button.switch[is-active="true"]:before
{
  background-position: -26px 0px;
}
toolbar button.switch[is-active="true"]:hover:before,
window-toolbar button.switch[is-active="true"]:hover:before
{
  background-position: -26px -24px;
}
toolbar button.switch[is-active="true"]:active:before,
window-toolbar button.switch[is-active="true"]:active:before
{
  background-position: -26px -48px;
}
.attached:before 
{
  background-position: -26px 0;
}
.attached:hover:before 
{
  background-position: -26px -24px;
}
.attached:active:before 
{
  background-position: -26px -48px;
}

toolbar-separator {
  display: block;
  float: left;
  width: 1px;
  height: 27px;
  margin: 0 3px;
  }
	
toolbar-filters {
  display: block;
  float: right;
  }

toolbar-filters filter {
  display: inline-block;
  margin: 1px;
  padding-left:20px;
  height: 24px;
  line-height: 24px;
  background: url('../ui-images/filter-bg.png') no-repeat;
  
  }

toolbar-filters filter.focus {
  background-position: 0 -24px;
  }

toolbar-filters em {
  display: inline-block;
  padding-left: 5px;
  width:135px;
  color: #999;
  vertical-align: top;
  }



toolbar-filters filter input {
  width: 140px;
  height: 20px;
  margin: 1px;
  margin-left: -140px;
  background: none;
  border:none;
  padding: 0;
  color: #666;
  }

toolbar-filters filter.focus input {
  color: #000;
  }

window-select {
  display: block;
  position: relative;
  margin: 0px 1px 0px 30px;
  padding: 2px 0;
  }

window-select select {
  width:100%;
  margin:0;
  height: 22px;
  }

window-select select option[value="-1"]  {
  color: #999;
  }

/* set with css. height, border and padding are supported */

tabs { /* The bottom tabs containers */
  height: 17px;
  background: #e1e4e9 url('../ui-images/tab-border.png') scroll repeat-x 0 0;
  }

tab { /**/
  display:block;
  float:left;
  background: transparent url('../ui-images/tab.png') scroll no-repeat 0 0;
  height: 17px;
  line-height: 17px;	
  margin: 0 5px 0 0;
  }

tab:hover {
  background-position: 0 -17px;
  }

tab.active {
  background-position: 0 -34px;
  }
	
input[handler="tab"] { /**/
  font-size: 11px;
  background: transparent url('../ui-images/tab.png') scroll no-repeat 100% 0;
  border: none;
  margin: 0 -4px 0 6px;
  padding-left: 6px;
  padding-right: 10px; /* to be removed when the close buttons are activated */
  height: 17px;
  line-height: 17px;
  vertical-align: top;
  cursor: pointer;
  }

tab:hover input[handler="tab"] {
  background-position: 100% -17px;
  }

tab.active input[handler="tab"] {
  background-position: 100% -34px;
  font-weight: bold;
  }

top-tabs { /* The top tabs container, replaced with, placed into or merged with top-toolbar */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: url('../ui-images/tabcontainer.png') no-repeat 100% 0;
  height: 20px;
  padding: 7px 60px 0px 7px;
  }
		
top-tabs:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: url('../ui-images/tabcontainer-left.png') no-repeat 0 0;
  }

/* this is a quick hack to get the runtime button in the tabs bar */
top-tabs toolbar-buttons { 
  margin: -7px 3px 0 -2px;
  }

top-tabs tab {  /**/
  float: left;
  background: transparent url('../ui-images/top-tab.png') scroll no-repeat 100% 0;
  height: 19px;
  line-height: 19px;	
  margin: 1px 0 0 9px;
  }

top-tabs tab:hover {
  background-position: 100% -19px;
  }

top-tabs tab.active {
  background-position: 100% -38px;
  }

top-tabs input[handler="tab"] {  /**/
  background: transparent url('../ui-images/top-tab-left.png') scroll no-repeat 0 0;
  margin: 0 8px 0 -8px;
  padding-left: 8px;
  padding-right: 0px; /* to be removed when the close buttons are activated */
  height: 19px;
  line-height: 19px;
  }

top-tabs tab:hover input[handler="tab"] {
  background-position: 0 -19px;
  }

top-tabs tab.active input[handler="tab"] {
  background-position: 0 -38px;
  font-weight: bold;
  }

input[handler="close-tab"] { /* Currently not in use? Now it is :) */ 
  background: transparent url('../ui-images/close.png') scroll no-repeat 50% 0;
  padding: 0;
  margin: 0 6px 0 -4px;
  border: none;
  width: 12px;
  height: 12px;
  line-height: 12px;
  vertical-align: -1px;
  cursor: pointer;
  }

input[handler="close-tab"]:hover { 
  background-position: 50% -12px;
  }

input[handler="close-tab"]:active { 
  background-position: 50% -24px;
  }

button[handler="top-settings"]
{
  background: transparent none;
  border-color: transparent;
  border-style: solid;
  cursor: pointer;
  padding: 1px 8px;
  margin: 2px 4px;
  float: right;
  line-height: 10px;
}
button[handler="top-settings"]:before
{
  content: '\00A0';
  display: inline-block;
  background: transparent url('../ui-images/btn-config.png') scroll no-repeat 0 0;
  height: 24px;
  width: 26px; 
  margin: -4px -12px;
  vertical-align: 4px;
}
button[handler="top-settings"]:hover:before 
{
  background-position:0 -24px;
}
button[handler="top-settings"]:active:before
{
  background-position:0 -48px;
}

window-controls {
  display: block;
  position: absolute;
  top: 0;
  right: 2px;
  z-index:1000;
  }



.default-container {
  padding: 7px;
  }

settings-container, settings, settings-header, checkboxes, checkbox, setting-composite {
  display: block;
  }

settings { /**/
  margin: 12px 0;
  padding: 3px 0;
  border: 1px solid #ccc;
  }

settings-header { /**/
  font-size: 1.2em;
  clear: both;
  }

settings-header input { /**/
  background: transparent url('../ui-images/toggle.png') scroll no-repeat 0 0;
  border: none;
  padding: 0;
  margin: 0px 5px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  }

settings-header input:hover {
  background-position: 0 -14px;
  }

settings-header input:active {
  background-position: 0 -28px;
  }

settings-header input.unfolded {
  background-position: -14px 0;
  }

settings-header input.unfolded:hover {
  background-position: -14px -14px;
  }

settings-header input.unfolded:active {
  background-position: -14px -28px;
  }

checkboxes, setting-composite { /**/
  padding-left: 26px;
  }
  
setting-composite label + label {
  margin-left: 20px;
}



.apply-button input[type="button"] 
{
  float: right;
  margin-right: 26px;
}

setting-composite select
{
  padding: 0;
  margin: 0;
  height: 2em;
  vertical-align: middle;
}

setting-buttons {
  text-align: right;
  padding-right: 26px;
}

settings-container { /**/
  padding: 7px;
  }

settings hr
{
  border: 1px dotted #333;
  margin: 9px 26px;
}

view-slider { /**/
  display: block;
  position: absolute;
  }

view-slider.vertical {
  cursor: w-resize;
  }

view-slider.horizontal {
  cursor: s-resize;
  }

ui-menu { /**/
  display: block;
  width: 180px;
  cursor: pointer;
  position: absolute;
  right:30px;
  top: 0px;
  z-index:1000;
  }

ui-menu.attached { /**/
  right:60px;
  }

ui-menu > h2 { /**/
  padding-left: 10px;
  font-weight: normal;
  font-size: 11px;
  background: transparent url('../ui-images/menu.png') scroll no-repeat 0 -66px;
  width: 170px;
	height: 18px;
  line-height: 14px;
  }

ui-menu > h2:after { /**/ 
  display: block;
  margin-right: 5px;
  width: 15px;
  height: 18px;
  content: '';
  float: right;
  background: transparent url('../ui-images/menu-right.png') scroll no-repeat 100% -66px;
  }
	
ui-menu:hover > h2 {
  background-position: 0 0;
  }

ui-menu:hover > h2:after {
  background-position: 100% 0;
  }

ui-menu ul { /* The list needs a bottom shadow when opened */
  position: absolute;
  right: 9px;
  top: 18px;
  margin: 0;
  padding: 0;
  list-style: none;
  }

ui-menu li { /**/
  padding: 0;
	margin-right: 6px;
  padding-left: 10px;
  width: 155px;
  background: transparent url('../ui-images/menu.png') scroll no-repeat 0 -19px;
  }

ui-menu li h2 { /**/
  padding: 0;
  margin: 0;
	width: 165px;
  height: 22px;
  line-height: 22px;
  font-weight: normal;
  font-size: 12px;
  background: transparent url('../ui-images/menu-right.png') scroll no-repeat 100% -19px;
  white-space: nowrap;
  }

ui-menu ul li:hover {
  background-position: 0 -41px;
  }

ui-menu ul li:hover h2 {
  background-position: 100% -41px;
  }


window-control {
  display: block;
  position: absolute;
  }

window-header { /**/
  display: block;
  background-color: #d4d8dd;
  border-bottom: 1px solid #ccc;
	font-weight: bold;
  color: #000;
  padding-left: .5em;
  height: 17px;
  line-height: 17px;
  }

windows-container [handler="window-move"] { /**/
  cursor: move;
  }

windows-container [handler='window-close'] { /**/
  float: right;
  width: 24px;
  height: 20px;
  margin: -3px -3px 0 0;
  position: relative;
  cursor: pointer;
  background: transparent url('../ui-images/btn-window-close.png') scroll no-repeat 0 0;
	z-index:11;
  }

windows-container [handler='window-close']:hover  { /**/
  background-position:  0 -20px;
  }

windows-container [handler='window-close']:active { /**/
  background-position:  0 -40px;
  }

windows-container [handler='window-scale-top-left'] { /**/
  left: -5px;
  top: -5px;
  width: 10px;
  height: 10px;
  cursor: nw-resize;
  }

windows-container [handler='window-scale-top'] { /**/
  left: 5px;
  right: 5px;
  top: -5px;
  height: 10px;
  cursor: s-resize;
  }

windows-container [handler='window-scale-top-right'] { /**/
  right: -5px;
  width: 10px;
  height: 10px;
  top: -5px;
  cursor: sw-resize;
  }

windows-container [handler='window-scale-right'] { /**/
  right: -5px;
  width: 10px;
  top: 5px;
  bottom: 5px;
  cursor: w-resize;
  }

windows-container [handler='window-scale-left'] { /**/
  left: -5px;
  width: 10px;
  top: 5px;
  bottom: 5px;
  cursor: w-resize;
  }

windows-container [handler='window-scale-bottom'] { /**/
  left: 0;
  bottom: -5px;
  height: 10px;
  right: 5px;
  cursor: s-resize;
  }

windows-container [handler='window-scale-bottom-right'] { /**/
  bottom: -5px;
  height: 10px;
  width: 10px;
  right: -5px;
  cursor: nw-resize;
  }

windows-container [handler='window-scale-bottom-left'] { /**/
  bottom: -5px;
  height: 10px;
  width: 10px;
  left: -5px;
  cursor: sw-resize;
  }

/* perhaps we could do this with svg's */

windows-container { /**/
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  left: 0;
  top: 0;
  }

window {
  display: block;
  position: absolute;
  background-color: #eff2f7;
  height: 300px;
  left: 20px;
  }
window-shadows {
    display:block;
}
window-shadow {
  display: block;
  position: absolute;
  }

window-shadow.top-left {
  left: -5px;
  top: -5px;
  width: 5px;
  height: 5px;
  background: transparent url('../ui-images/shadow-top-left.png') scroll repeat-x 0 0;
  }

window-shadow.top {
  left: 0px;
  top: -5px;
  right: 0px;
  height: 6px;
  background: transparent url('../ui-images/shadow-top.png') scroll repeat-x 0 0;
  }

window-shadow.top-right {
  right: -5px;
  top: -5px;
  height: 5px;
  width: 5px;
  background: transparent url('../ui-images/shadow-top-right.png') scroll no-repeat 0 0;
  }

window-shadow.right {
  right: -5px;
  top: 0px;
  bottom: 0px;
  width: 5px;
  height: auto;
  background: transparent url('../ui-images/shadow-right.png') scroll repeat-y 0 0;
  }

window-shadow.bottom {
  right: 0px;
  bottom: -5px;
  left: 0px;
  height: 5px;
  background: transparent url('../ui-images/shadow-bottom.png') scroll repeat-x 0 0;
  }

window-shadow.bottom-right {
  right: -5px;
  bottom: -5px;
  height: 5px;
  width: 5px;
  background: transparent url('../ui-images/shadow-bottom-right.png') scroll no-repeat 0 0;
  }

window-shadow.bottom-left {
  left: -5px;
  bottom: -5px;
  height: 5px;
  width: 5px;
  background: transparent url('../ui-images/shadow-bottom-left.png') scroll no-repeat 0 0;
  }

window-shadow.left {
  left: -5px;
  top: 0px;
  bottom: 0px;
  width: 5px;
  background: transparent url('../ui-images/shadow-left.png') scroll repeat-y 0 0;
  }

#spin-button { /**/
  float: left;
  height: 16px;
  width: 48px;
  margin: 5px;
  background: transparent url('../ui-images/spin.png') scroll no-repeat 0 0;
  }

button[handler="threads-clear-log"]:before 
{
  background-image: url('../ui-images/btn-clear-error-console.png');
}
button[handler="threads-export-log"]:before
{
  background-image: url('../ui-images/btn-export-log.png');
}
button[handler="dom-inspection-snapshot"]:before 
{
  background-image: url('../ui-images/btn-get-dom-tree.png');
}
button[key="dom.find-with-click"]:before 
{
  background-image: url('../ui-images/btn-find-onclick.png');
}
button[key="dom.highlight-on-hover"]:before 
{
  background-image: url('../ui-images/btn-highlight.png');
}
button[key="dom.show-comments"]:before 
{
  background-image: url('../ui-images/btn-show-comments.png');
}
button[key="dom.show-whitespace-nodes"]:before 
{
  background-image: url('../ui-images/btn-show-whitespace.png');
}
button[key="dom.update-on-dom-node-inserted"]:before 
{
  background-image: url('../ui-images/btn-update-onchange.png');
}
button[key="js_source.script"]:before 
{
  background-image: url('../ui-images/btn-stop-at-new-thread.png');
}
button[key="js_source.error"]:before 
{
  background-image: url('../ui-images/btn-stop-on-error.png');
}
button[key="threads.log-threads"]:before 
{
  background-image: url('../ui-images/btn-log-all-threads.png');
}
button[key$="hide-default-properties"]:before 
{
  background-image: url('../ui-images/btn-hide-global-scope.png');
}
button[key="css-inspector.hide-initial-values"]:before 
{
  background-image: url('../ui-images/btn-initial-values.png');
}
button[key="css-inspector.hide-shorthands"]:before 
{
  background-image: url('../ui-images/btn-shorthand.png');
}
button[key="dom.dom-tree-style"]:before 
{
  background-image: url('../ui-images/btn-tree-style.png');
}
button[key="dom_attrs.hide-null-values"]:before 
{
  background-image: url('../ui-images/btn-hide-empty-values.png');
}
button[key="stylesheets.shortcuts"]:before 
{
  background-image: url('../ui-images/btn-shorthand.png'); /* Duplicate of 'css-inspector.hide-shorthands' */
}
button[key="console.use-selected-runtime-as-filter"]:before 
{
  background-image: url('../ui-images/btn-use-as-filter.png');
}
button[key="threads.log-threads"]:before
{
  background-image: url('../ui-images/btn-log-threads.png');
}
button[handler="documentation"]:before 
{
  background-image: url('../ui-images/btn-documentation.png');
}
button.clear-log:before 
{
  background-image: url('../ui-images/btn-delete.png');
}
button[handler="dom-inspection-export"]:before 
{
  background-image: url('../ui-images/btn-export-current-view.png');
}
button[handler="reload-window"]:before 
{
  background-image: url('../ui-images/btn-reload-host.png');
}
button[handler="top-window-close"]:before 
{
  background-image: url('../ui-images/btn-top-close.png');
}
button[handler="top-window-toggle-attach"]:before 
{
  background-image: url('../ui-images/btn-toggle-attach.png');
}
#continue-run:before 
{
  background-image:url('../ui-images/btn-run.png');
}
#continue-step-into-call:before 
{
  background-image:url('../ui-images/btn-step-into-call.png');
}
#continue-step-next-line:before 
{
  background-image:url('../ui-images/btn-step-next-line.png');
}
#continue-step-out-of-call:before 
{
  background-image:url('../ui-images/btn-step-out-call.png');
}

/* editing */

textarea-container {
  display: block;
  padding: 1px;
  position:relative;
  z-index: 10;
  }
 
textarea-container textarea-inner-container {
  display: block;
  background-image: -o-skin('Speed Dial Configuration Dialog Skin');
  padding: 3px 9px 10px 5px;
  margin: -4px -10px -11px -6px;
  }
 
textarea-container textarea{
  display: block;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  vertical-align: text-top;
  overflow: hidden;
  }

textarea-container-inline 
{
  display: inline-block;
  padding: 1px;
  line-height: 0px;
  position:relative;
  z-index: 1;
}
 
textarea-container-inline textarea-inner-container 
{
  display: inline-block;
  background-image: -o-skin('Speed Dial Configuration Dialog Skin');
  padding: 3px 9px 10px 5px;
  margin: -4px -10px -11px -6px;
}
 
textarea-container-inline textarea
{
  border: none;
  margin: 0;
  padding: 0;
  vertical-align: text-top;
  overflow: hidden;
  height: 0px;
}

fade-out
{
  display: block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background:url('../ui-images/black-20.png');
}
  
/*
  width: 26px;
  height: 24px;
  margin: 1px;
  padding: 0;
  */
cst-select
{
  display: inline-block;
  position: relative;
  background-image:-o-skin('Start Skin');
  height: 24px;
  line-height: 24px;
  margin: 1px 0;
  padding: 0;
  padding-right: 18px;
  margin-left: 5px;
  cursor: pointer;
  vertical-align: middle;
}



cst-value
{
  display: inline-block;
  margin-right: 18px;
  margin-top: 1px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  padding: 0 8px;
  height: 22px;
}

cst-drop-down
{
  display: block;
  width: 18px;
  height: 24px;
  background-image:-o-skin('Push Button Skin');
  margin-right: -18px;
  vertical-align: top;
  float: right;
}

cst-drop-down:hover
{
  opacity: .7;

}

cst-drop-down:before
{
  display: inline-block;
  content: "";
  width: 18px;
  height: 24px;
  background-image: -o-skin('Dropdown Button Skin.pressed');
}

cst-select[disabled]
{
  background-color: #ccc !important;
}

cst-select[disabled] cst-drop-down
{
  opacity: .3;
}

cst-select-option-list
{
  display: block;
  position:absolute;
  border: 1px solid hsl(0, 0%, 60%);
  background-color: hsl(0, 0%, 97%);
  z-index: 100;
  max-height: 200px;
  overflow: auto;
  width: auto;
}

cst-option
{
  display: block;
  cursor: pointer;
  padding: .2em .5em;
  white-space: nowrap;
}

cst-option.selected
{
  background-color: #eec;
}

cst-option:hover
{
  background-color: #009;
  color: #fff;
}

cst-select.color
{
  background: none;
  width: 22px;
  margin: 0 .2em;
}

cst-select.color cst-value
{
  border: 1px solid #999;
  width: 4px;
  margin: 0px;
}
cst-select.color[disabled] cst-value
{
  background-color: #ccc !important;
}

cst-select-option-list.color
{
  padding: 2px 11px 8px 8px;
  overflow: visible;
  border: none;
  background: none;
  max-height: none;
}

cst-option-list-background
{
  display:block;
  position: relative;
  width: 160px;
  background-image:-o-skin('Speed Dial Configuration Dialog Skin');
  padding: 10px 15px 15px 10px;
  margin: -1px -11px -8px -8px;
}

cst-option-list-background > div
{
  width: 160px;
}

cst-select-option-list.color cst-option
{
  float: left;
  width: 32px;
  height: 24px;
  padding: 0;
  margin: 3px;
  border: 1px solid #999;
  position: relative;
  background-color: transparent;
}

cst-select-option-list.color cst-option cst-color
{
  display: inline-block;
  width: 32px;
  height: 24px;
  vertical-align: text-top;
}

cst-select-option-list.color cst-selected-border
{
  float: left;
  width: 32px;
  height: 24px;
  padding: 2px;
  margin: 0px 0px 0px -40px;
  border: 2px solid #999;
}

cst-option-list-background > div > div 
{
  clear: both;
  padding-top: 5px;
}

cst-select-option-list.color label 
{
  display: block;
  margin: 2px 3px;
  line-height: 1.4em;
  clear: both;
}

cst-select-option-list.color label input
{
  float: right;
  vertical-align: middle;
  height: 1.1em;
  padding: 0;
  width: 4.2em;
}


cst-select-option-list.color .text,
cst-select-option-list.color .text input
{
  text-align: right;
}
cst-select-option-list.color .text input
{
  margin-left: .2em;
}

cst-select-option-list.color .ok-cancel
{
  margin: 5px 3px;
}

cst-select-option-list.color .ok-cancel input + input
{
  float: right;
}


