viewport {
  width: 100%;
  height: 100%;
  display: block;
  font-family: sans-serif;
  font-size: 12px;
  overflow: hidden;
  }

main-view { /**/
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  }

windows-container, 
toolbar, 
tabs, 
container, 
top-tabs, 
statusbar, 
top-statusbar, 
top-container, 
top-toolbar {
  display: block;
  position: absolute;
  }

/* set with css. height, border and padding are supported */

top-container { /**/
  border-bottom: 1px solid #c9cdd0;
  border-left: 1px solid #c9cdd0;
  border-right: 1px solid #c9cdd0;
  padding: 4px 4px;
  background-color: #e1e4e9;
  }

/* set with css. height, border and padding are supported */

container { /**/
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #fff;
  overflow: hidden;
  } 

window container { /**/
  display: block;
  position: relative;
  border-width: 0;
  background-color: #eff2f7;
  }

/* set with css. height, border and padding are supported */

top-statusbar { /**/
  background-color: #f5f7fa;
  line-height: 27px;
  height: 27px;
  overflow: hidden;
  }

window-statusbar { /**/
  display: block;
  background: #e1e4e9 url('../ui-images/window-dragger.png') no-repeat 100% 100%;
  border-top: 1px solid #ccc;
  line-height: 20px;
  height: 20px;
  }

info { /**/
  padding: 0 7px;
  }


.scroll {
  overflow: auto;
  }
	
top-toolbar { /**/
  height: 26px;
  padding-right: 0px;
  background-color: #f5f7fa;
  }



window-toolbar { /**/
  display: block;
  height: 26px;
  background-color: #e1e4e9;
  border-bottom: 1px solid #ccc;
  }

/* set with css. height, border and padding are supported */

toolbar { /**/
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #f5f7fa;
	padding: 0 1px;
  height: 26px;
  }

toolbar-buttons, toolbar-switches {
  display: block;
  float: left;
  }

toolbar-buttons input, window-controls input { /**/
  width: 26px;
  height: 24px;
  margin: 1px;
  padding: 0;
  cursor: pointer;
  border: none;
  background: transparent url('../ui-images/btn-test.png') scroll no-repeat 0 0;
  }

toolbar-buttons input:hover, window-controls input:hover {
  background-position: 0 -24px;
  }

toolbar-buttons input:active, window-controls input:active {
  background-position: 0 -48px;
  }

toolbar-buttons input[disabled] { /**/
  background-position: 0 -72px;
  }

.attached {
  background-position: -26px 0;
  }

.attached:hover {
  background-position: -26px -24px;
  }

.attached:active {
  background-position: -26px -48px;
  }

/* toolbar-buttons input[disabled]:hover, */
toolbar-buttons input[disabled]:active {
  background-position: 0 -72px;
  }

toolbar-switches input { /**/
  width: 26px;
  height: 24px;
  margin: 1px;
  padding: 0;
  cursor: pointer;
  border: none;
  background: transparent url('../ui-images/btn-test-switch.png') scroll no-repeat 0 0;
  }

toolbar-switches input:hover { /* State should change while cursor still hovers after click */
  background-position: 0 -24px;
  }

toolbar-switches input:active {
  background-position: -26px -48px;
  }

toolbar-switches input[is-active="true"] {
  background-position: -26px 0;
  }

toolbar-switches input[is-active="true"]:hover { /* State should change while cursor still hovers after click */
  background-position: -26px -24px;
  }

toolbar-switches input[is-active="true"]:active {
  background-position: 0 -48px;
  }

toolbar-separator { /**/
  display: block;
  float: left;
  width: 1px;
  height: 27px;
  margin: 0 3px;
  }
	
toolbar-filters {
  display: block;
  float: right;
  }

toolbar-filters filter {
  display: inline-block;
  margin: 1px;
  padding-left:20px;
  height: 24px;
  line-height: 24px;
  background: url('../ui-images/filter-bg.png') no-repeat;
  
  }

toolbar-filters filter.focus {
  background-position: 0 -24px;
  }

toolbar-filters em {
  display: inline-block;
  padding-left: 5px;
  width:135px;
  color: #999;
  vertical-align: top;
  }



toolbar-filters filter input {
  width: 140px;
  height: 20px;
  margin: 1px;
  margin-left: -140px;
  background: none;
  border:none;
  padding: 0;
  color: #666;
  }

toolbar-filters filter.focus input {
  color: #000;
  }

window-select {
  display: block;
  position: relative;
  margin: 0px 1px 0px 30px;
  padding: 2px 0;
  }

window-select select {
  width:100%;
  margin:0;
  height: 22px;
  }

window-select select option[value="-1"]  {
  color: #999;
  }

/* set with css. height, border and padding are supported */

tabs { /* The bottom tabs containers */
  height: 17px;
  background: #e1e4e9 url('../ui-images/tab-border.png') scroll repeat-x 0 0;
  }

tab { /**/
  display:block;
  float:left;
  background: transparent url('../ui-images/tab.png') scroll no-repeat 0 0;
  height: 17px;
  line-height: 17px;	
  margin: 0 5px 0 0;
  }

tab:hover {
  background-position: 0 -17px;
  }

tab.active {
  background-position: 0 -34px;
  }
	
input[handler="tab"] { /**/
  font-size: 11px;
  background: transparent url('../ui-images/tab.png') scroll no-repeat 100% 0;
  border: none;
  margin: 0 -4px 0 6px;
  padding-left: 6px;
  padding-right: 10px; /* to be removed when the close buttons are activated */
  height: 17px;
  line-height: 17px;
  vertical-align: top;
  cursor: pointer;
  }

tab:hover input[handler="tab"] {
  background-position: 100% -17px;
  }

tab.active input[handler="tab"] {
  background-position: 100% -34px;
  font-weight: bold;
  }

top-tabs { /* The top tabs container, replaced with, placed into or merged with top-toolbar */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: url('../ui-images/tabcontainer.png') no-repeat 100% 0;
  height: 20px;
  padding: 7px 60px 0px 7px;
  }
		
top-tabs:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: url('../ui-images/tabcontainer-left.png') no-repeat 0 0;
  }

/* this is a quick hack to get the runtime button in the tabs bar */
top-tabs toolbar-buttons { 
  margin: -7px 3px 0 -2px;
  }

top-tabs tab {  /**/
  float: left;
  background: transparent url('../ui-images/top-tab.png') scroll no-repeat 100% 0;
  height: 19px;
  line-height: 19px;	
  margin: 1px 0 0 9px;
  }

top-tabs tab:hover {
  background-position: 100% -19px;
  }

top-tabs tab.active {
  background-position: 100% -38px;
  }

top-tabs input[handler="tab"] {  /**/
  background: transparent url('../ui-images/top-tab-left.png') scroll no-repeat 0 0;
  margin: 0 8px 0 -8px;
  padding-left: 8px;
  padding-right: 0px; /* to be removed when the close buttons are activated */
  height: 19px;
  line-height: 19px;
  }

top-tabs tab:hover input[handler="tab"] {
  background-position: 0 -19px;
  }

top-tabs tab.active input[handler="tab"] {
  background-position: 0 -38px;
  font-weight: bold;
  }

input[handler="close-tab"] { /* Currently not in use? Now it is :) */ 
  background: transparent url('../ui-images/close.png') scroll no-repeat 50% 0;
  padding: 0;
  margin: 0 6px 0 -4px;
  border: none;
  width: 12px;
  height: 12px;
  line-height: 12px;
  vertical-align: -1px;
  cursor: pointer;
  }

input[handler="close-tab"]:hover { 
  background-position: 50% -12px;
  }

input[handler="close-tab"]:active { 
  background-position: 50% -24px;
  }

input[handler="top-settings"] { /* Doesn't receive correct background positioning on hover and active*/
  width: 26px;
  height: 24px;
  margin: 2px;
  padding: 0;
  cursor: pointer;  
  background: transparent url('../ui-images/btn-config.png') scroll no-repeat 0 0;
  border: none;
  float: right;
  }

input[handler="top-settings"]:hover {
  background-position:0 -24px;
  }

input[handler="top-settings"]:active {
  background-position:0 -48px;
  }

window-controls {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index:1000;
  }



.default-container {
  padding: 7px;
  }

settings-container, settings, settings-header, checkboxes, checkbox, setting-composite {
  display: block;
  }

settings { /**/
  margin: 12px 0;
  padding: 3px 0;
  border: 1px solid #ccc;
  }

settings-header { /**/
  font-size: 1.2em;
  }

settings-header input { /**/
  background: transparent url('../ui-images/toggle.png') scroll no-repeat 0 0;
  border: none;
  padding: 0;
  margin: 0px 5px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  }

settings-header input:hover {
  background-position: 0 -14px;
  }

settings-header input:active {
  background-position: 0 -28px;
  }

settings-header input.unfolded {
  background-position: -14px 0;
  }

settings-header input.unfolded:hover {
  background-position: -14px -14px;
  }

settings-header input.unfolded:active {
  background-position: -14px -28px;
  }

checkboxes, setting-composite { /**/
  padding-left: 26px;
  }
  
setting-composite label + label {
  margin-left: 20px;
}

setting-composite input[type="button"] {
  float: right;
  margin-right: 26px;

}

setting-buttons {
  text-align: right;
  padding-right: 26px;
}

settings-container { /**/
  padding: 7px;
  }

view-slider { /**/
  display: block;
  position: absolute;
  }

view-slider.vertical {
  cursor: w-resize;
  }

view-slider.horizontal {
  cursor: s-resize;
  }

ui-menu { /**/
  display: block;
  width: 180px;
  cursor: pointer;
  position: absolute;
  right:30px;
  top: 0px;
  z-index:1000;
  }

ui-menu.attached { /**/
  right:60px;
  }

ui-menu > h2 { /**/
  padding-left: 10px;
  font-weight: normal;
  font-size: 11px;
  background: transparent url('../ui-images/menu.png') scroll no-repeat 0 -66px;
  width: 170px;
	height: 18px;
  line-height: 14px;
  }

ui-menu > h2:after { /**/ 
  display: block;
  margin-right: 5px;
  width: 15px;
  height: 18px;
  content: '';
  float: right;
  background: transparent url('../ui-images/menu-right.png') scroll no-repeat 100% -66px;
  }
	
ui-menu:hover > h2 {
  background-position: 0 0;
  }

ui-menu:hover > h2:after {
  background-position: 100% 0;
  }

ui-menu ul { /* The list needs a bottom shadow when opened */
  position: absolute;
  right: 9px;
  top: 18px;
  margin: 0;
  padding: 0;
  list-style: none;
  }

ui-menu li { /**/
  padding: 0;
	margin-right: 6px;
  padding-left: 10px;
  width: 155px;
  background: transparent url('../ui-images/menu.png') scroll no-repeat 0 -19px;
  }

ui-menu li h2 { /**/
  padding: 0;
  margin: 0;
	width: 165px;
  height: 22px;
  line-height: 22px;
  font-weight: normal;
  font-size: 12px;
  background: transparent url('../ui-images/menu-right.png') scroll no-repeat 100% -19px;
  white-space: nowrap;
  }

ui-menu ul li:hover {
  background-position: 0 -41px;
  }

ui-menu ul li:hover h2 {
  background-position: 100% -41px;
  }


window-control {
  display: block;
  position: absolute;
  }

window-header { /**/
  display: block;
  background-color: #d4d8dd;
  border-bottom: 1px solid #ccc;
	font-weight: bold;
  color: #000;
  padding-left: .5em;
  height: 17px;
  line-height: 17px;
  }

windows-container [handler="window-move"] { /**/
  cursor: move;
  }

windows-container [handler='window-close'] { /**/
  float: right;
  width: 24px;
  height: 20px;
  margin: -3px -3px 0 0;
  position: relative;
  cursor: pointer;
  background: transparent url('../ui-images/btn-window-close.png') scroll no-repeat 0 0;
	z-index:11;
  }

windows-container [handler='window-close']:hover  { /**/
  background-position:  0 -20px;
  }

windows-container [handler='window-close']:active { /**/
  background-position:  0 -40px;
  }

windows-container [handler='window-scale-top-left'] { /**/
  left: -5px;
  top: -5px;
  width: 10px;
  height: 10px;
  cursor: nw-resize;
  }

windows-container [handler='window-scale-top'] { /**/
  left: 5px;
  right: 5px;
  top: -5px;
  height: 10px;
  cursor: s-resize;
  }

windows-container [handler='window-scale-top-right'] { /**/
  right: -5px;
  width: 10px;
  height: 10px;
  top: -5px;
  cursor: sw-resize;
  }

windows-container [handler='window-scale-right'] { /**/
  right: -5px;
  width: 10px;
  top: 5px;
  bottom: 5px;
  cursor: w-resize;
  }

windows-container [handler='window-scale-left'] { /**/
  left: -5px;
  width: 10px;
  top: 5px;
  bottom: 5px;
  cursor: w-resize;
  }

windows-container [handler='window-scale-bottom'] { /**/
  left: 0;
  bottom: -5px;
  height: 10px;
  right: 5px;
  cursor: s-resize;
  }

windows-container [handler='window-scale-bottom-right'] { /**/
  bottom: -5px;
  height: 10px;
  width: 10px;
  right: -5px;
  cursor: nw-resize;
  }

windows-container [handler='window-scale-bottom-left'] { /**/
  bottom: -5px;
  height: 10px;
  width: 10px;
  left: -5px;
  cursor: sw-resize;
  }

/* perhaps we could do this with svg's */

windows-container { /**/
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  left: 0;
  top: 0;
  }

window {
  display: block;
  position: absolute;
  background-color: #eff2f7;
  height: 300px;
  left: 20px;
  }
window-shadows {
    display:block;
}
window-shadow {
  display: block;
  position: absolute;
  }

window-shadow.top-left {
  left: -5px;
  top: -5px;
  width: 5px;
  height: 5px;
  background: transparent url('../ui-images/shadow-top-left.png') scroll repeat-x 0 0;
  }

window-shadow.top {
  left: 0px;
  top: -5px;
  right: 0px;
  height: 6px;
  background: transparent url('../ui-images/shadow-top.png') scroll repeat-x 0 0;
  }

window-shadow.top-right {
  right: -5px;
  top: -5px;
  height: 5px;
  width: 5px;
  background: transparent url('../ui-images/shadow-top-right.png') scroll no-repeat 0 0;
  }

window-shadow.right {
  right: -5px;
  top: 0px;
  bottom: 0px;
  width: 5px;
  height: auto;
  background: transparent url('../ui-images/shadow-right.png') scroll repeat-y 0 0;
  }

window-shadow.bottom {
  right: 0px;
  bottom: -5px;
  left: 0px;
  height: 5px;
  background: transparent url('../ui-images/shadow-bottom.png') scroll repeat-x 0 0;
  }

window-shadow.bottom-right {
  right: -5px;
  bottom: -5px;
  height: 5px;
  width: 5px;
  background: transparent url('../ui-images/shadow-bottom-right.png') scroll no-repeat 0 0;
  }

window-shadow.bottom-left {
  left: -5px;
  bottom: -5px;
  height: 5px;
  width: 5px;
  background: transparent url('../ui-images/shadow-bottom-left.png') scroll no-repeat 0 0;
  }

window-shadow.left {
  left: -5px;
  top: 0px;
  bottom: 0px;
  width: 5px;
  background: transparent url('../ui-images/shadow-left.png') scroll repeat-y 0 0;
  }

#spin-button { /**/
  float: left;
  height: 16px;
  width: 48px;
  margin: 5px;
  background: transparent url('../ui-images/spin.png') scroll no-repeat 0 0;
  }

input[handler="threads-clear-log"] {
  background-image: url('../ui-images/btn-clear-error-console.png');
  }

input[handler="threads-export-log"] {
  background-image: url('../ui-images/btn-export-log.png');
  }

input[handler="dom-inspection-snapshot"] {
  background-image: url('../ui-images/btn-get-dom-tree.png');
  }

input[key="dom.find-with-click"] {
  background-image: url('../ui-images/btn-find-onclick.png');
  }

input[key="dom.highlight-on-hover"] {
  background-image: url('../ui-images/btn-highlight.png');
  }

input[key="dom.show-comments"] {
  background-image: url('../ui-images/btn-show-comments.png');
  }

input[key="dom.show-whitespace-nodes"] {
  background-image: url('../ui-images/btn-show-whitespace.png');
  }

input[key="dom.update-on-dom-node-inserted"] {
  background-image: url('../ui-images/btn-update-onchange.png');
  }

input[key="js_source.script"] {
  background-image: url('../ui-images/btn-stop-at-new-thread.png');
  }
input[key="js_source.error"] {
  background-image: url('../ui-images/btn-stop-on-error.png');
  }
input[key="threads.log-threads"] {
  background-image: url('../ui-images/btn-log-all-threads.png');
  }
input[key$="hide-default-properties-in-global-scope"] {
  background-image: url('../ui-images/btn-hide-global-scope.png');
  }
input[key="css-inspector.hide-initial-values"] {
  background-image: url('../ui-images/btn-initial-values.png');
  }
input[key="css-inspector.hide-shorthands"] {
  background-image: url('../ui-images/btn-shorthand.png');
  }
input[key="dom.dom-tree-style"] {
  background-image: url('../ui-images/btn-tree-style.png');
  }
input[key="dom_attrs.hide-null-values"] {
  background-image: url('../ui-images/btn-hide-empty-values.png');
  }
input[key="stylesheets.shortcuts"] {
  background-image: url('../ui-images/btn-shorthand.png'); /* Duplicate of 'css-inspector.hide-shorthands' */
  }
input[key="console.use-selected-runtime-as-filter"] {
  background-image: url('../ui-images/btn-use-as-filter.png');
  }
input[key="threads.log-threads"] {
  background-image: url('../ui-images/btn-log-threads.png');
  }
	
	
input[handler="documentation"] {
  background-image: url('../ui-images/btn-documentation.png');
  }
input.clear-log {
  background-image: url('../ui-images/btn-delete.png');
  }

input[handler="dom-inspection-export"] {
  background-image: url('../ui-images/btn-export-current-view.png');
  }

input[handler="reload-window"] {
  background-image: url('../ui-images/btn-reload-host.png');
  }

input[handler="top-window-close"] {
  background-image: url('../ui-images/btn-top-close.png');
  }

input[handler="top-window-toggle-attach"] {
  background-image: url('../ui-images/btn-toggle-attach.png');
  }



input[handler="create-all-runtimes"]:hover {
  background-position: 0 -24px;
  }

input[handler="create-all-runtimes"]:active {
  background-position: 0 -48px;
  }

#continue-run {
  background-image:url('../ui-images/btn-run.png');
  }
#continue-step-into-call {
  background-image:url('../ui-images/btn-step-into-call.png');
  }
#continue-step-next-line {
  background-image:url('../ui-images/btn-step-next-line.png');
  }
#continue-step-out-of-call {
  background-image:url('../ui-images/btn-step-out-call.png');
  }

/* editing */

textarea-container {
  display: block;
  padding: 1px;
  position:relative;
  z-index: 1;
  }
 
textarea-inner-container {
  display: block;
  background-image: -o-skin('Speed Dial Configuration Dialog Skin');
  padding: 3px 9px 10px 5px;
  margin: -4px -10px -11px -6px;
  }
 
textarea-container textarea{
  display: block;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  vertical-align: text-top;
  overflow: hidden;
  }
  
/*
  width: 26px;
  height: 24px;
  margin: 1px;
  padding: 0;
  */
cst-select
{
  display: inline-block;
  position: relative;
  background-image:-o-skin('Start Skin');
  height: 24px;
  line-height: 24px;
  margin: 1px 0;
  padding: 0;
  padding-right: 18px;
  margin-left: 5px;
}

cst-value
{
  display: inline-block;
  margin-right: 18px;
  margin-top: 1px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  padding: 0 .5em;
  height: 22px;
}

cst-drop-down
{
  display: block;
  width: 18px;
  height: 24px;
  background-image:-o-skin('Push Button Skin');
  margin-right: -18px;
  vertical-align: top;
  float: right;
  cursor: pointer;
}

cst-drop-down:hover
{
  opacity: .7;

}

cst-drop-down:before
{
  display: inline-block;
  content: "";
  width: 18px;
  height: 24px;
  background-image: -o-skin('Dropdown Button Skin.pressed');
}

cst-select-option-list
{
  display: block;
  position:absolute;
  border: 1px solid hsl(0, 0%, 60%);
  background-color: hsl(0, 0%, 97%);
  z-index: 100;
  max-height: 200px;
  overflow: auto;
  width: auto;
}

cst-option
{
  display: block;
  cursor: pointer;
  padding: .2em .5em;
  white-space: nowrap;
}

cst-option:hover
{
  background-color: #009;
  color: #fff;
}
