.shortcuts-config toolbar
{
  background: none;
  border: none;
}

.shortcuts-config header
{
  padding: 1px 3px;
  margin: 2px 3px;
  border-radius: 3px;
  line-height: 19px;
}

.shortcuts-config header:active
{
  padding-top: 2px;
  padding-bottom: 0px;
}

.shortcuts-config header input
{
  background:transparent url('../ui-images/toggle_white.png') scroll no-repeat 50% 100%;
  border:none;
  width: 9px;
  height: 7px;
  opacity: 0.66;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.shortcuts-config filter
{
  font-size: inherit;
  vertical-align: middle;
  background-image: url("../ui-images/filter_white.png");
  background-repeat: no-repeat;
  background-position: 4px 50%;
  padding: 1px 1px 1px 20px;
  margin: 2px;
}

.shortcuts-config filter.focus input
{
  color: #fff;
}

.shortcuts
{
  border-collapse: collapse;
  width: 99%;
  table-layout: fixed;
  margin: 4px 4px 15px 4px;
}

.shortcuts th
{
  border: 1px solid rgba(255, 255, 255, 0.0);
  text-align: left;
  padding: 2px 7px;
  color: #fff;
}

.invalid-shortcut td
{
  color: #fc6854;
  border-color: hsl(22, 100%, 50%);
  border: 1px solid rgba(255, 255, 255, 0.0);
}

.invalid-shortcut td[colspan="2"]
{
  font-weight: bold;
  padding: 2px 7px;
}

.invalid-shortcut input,
.invalid-shortcut input:focus
{
  border-color: #fc6854;
}

.scc-input,
.scc-select
{
  width: 100%;
  height: 100%;
  font-size: inherit;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 3px;
  margin: 2px;
}

.scc-select option {
    color: #000;
}

.scc-input:focus,
.scc-select:focus
{
  border: 1px solid rgba(255, 255, 255, 1.0);
}

.scc-no-match
{
  display: none;
}

.shortcuts .controls
{
  border: none;
}

.shortcuts-config ul
{
    clear: both;
}
