.breakpoint
{
  border-bottom: 1px solid #ccc;
  padding: 2px 2px 2px 21px;
}

.breakpoint,
.breakpoint .file-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.breakpoint:last-of-type
{
  border-bottom: 0;
}

.breakpoint-checkbox + .file-line,
.breakpoint-checkbox + .event-type,
.breakpoint-checkbox + .source-line,
.breakpoint-checkbox + .condition
{
  display: inline;
}

.breakpoint .file-line,
.event-type
{
  line-height: 20px;
}

.source-line
{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  line-height: 16px;
  height: 16px;
}

