.ev-rt-list
{
  margin-top: 5px;
}

.ev-type-list
{
  margin: 0 3px;
}

.ev-listener
{
  margin: 0;
}

.ev-type
{
  font-weight: bold;
}

.ev-type-list .ev-type
{
  font: inherit;
}

.ev-added,
.ev-origin
{
  border-radius: 2px;
}

.ev-listener-list
{
  margin-left: 12px;
}

.tooltip-function-source .js-tooltip-examine-container
{
  padding: 0;
}

.tooltip-function-source .js-source-line-numbers
{
  background-color: hsla(0, 0%, 0%, .03);
  border-radius: 0 0 0 3px;
}

.tooltip-function-source .js-source-content
{
  margin-left: 40px;
}

.position-relative
{
  position: relative;
}