.ev-rt-list > li
{
  margin-bottom: 6px;
}

.ev-listener-tooltip
{
  margin: 0;
  margin-top: -13px;
  white-space: pre;
  min-width: 180px;
}

.list-selected-node
{
  margin-top: -5px;
  margin-bottom: 10px;
}

.list-selected-node dd
{
  margin-left: 23px;
}

.ev-listener-tooltip dd
{
  margin-left: 16px;
}

.ev-missing-script:hover
{
  border-radius: 2px;
  box-shadow: 0 0 0 1px #d3dff8;
  background-color: #d3dff8;
}

.ev-listener
{

  margin-left: 3px;
  padding: 0 2px;
  background-color: rgba(0, 0, 0, 0.29);
  color: #fff;
  border-radius: 2px;
}

.ev-listener.tooltip-selected
{
  box-shadow: none;
  color: #fff;
  background-color: rgba(82, 122, 204, 0.55);
}

.ev-listener::after
{
  content: "ev";
}

.ev-type
{
  font: inherit;
  position: relative;
}

.ev-listener-tooltip .ev-type,
.ev-listeners-selected-node .ev-type
{
  background-color: hsla(0, 0%, 0%, 0.04);
  padding: 2px 8px;
  border-width: 1px 0;
  margin: 5px 0 1px;
}

.ev-listener-tooltip .ev-type
{
  margin: 5px -8px 1px;
}

.ev-phase
{
  /*
    Propably an expensive way to right align text. But a common float causes an unstable
    box with horizontal scrollbars which disappears on hover with an ugly jumping tooltip.
  */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding-right: 8px;
  text-align: right;
  font-style: italic;
  color: hsl(0, 0%, 50%);
}

.capturing-phase
{
  color: hsl(0, 70%, 30%);
}

.ev-added,
.ev-origin
{
  border-radius: 2px;
}

.ev-listener-list
{
  margin-left: 12px;
}

.ev-rt-list .ev-rt-title
{
  margin-left: 0;
}

.tooltip-function-source .js-tooltip-examine-container
{
  padding: 0;
}

.tooltip-function-source .js-source-line-numbers
{
  border-radius: 0 0 0 3px;
}

.tooltip-function-source .js-source-content
{
  margin-left: 40px;
}

.position-relative
{
  position: relative;
}
