html, body
{
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
body
{
  font-family: sans-serif;
  font-size: .75em;
  position: relative;
}
h2 
{
  height: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  background-color: #ccc;
}
#test-document
{
  position:absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
}
#iframe-container
{
  display: block;
  position:absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0px solid;
}
iframe
{
  display: block;
  width: 100%;
  height: 100%;
  border: 0px solid;
}
#dom-container
{
  position:absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 50%;
  overflow: hidden;
  border-left: 5px solid #ccc;
}
#dom-scoll-container
{
  position:absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
#dom
{
  padding: 5px;
}
node-container
{
  display: block;

}

node
{
  color: #279;
  cursor: pointer;
}
key
{
  color:#229;
}
value
{
  color:#742;;
}

node-container:hover
{
  background-color:#ececda;
}

.selected
{
  background-color:#ddb;
}

#controls-container
{
  position:absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-left: 5px solid #ccc;
}

#controls
{
  position:absolute;
  top: 250px;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
}

label 
{
  
}




/* metrics */

.metrics 
{
  display: table;
  padding: 20px;
  margin:0 auto;
}

.metrics ul 
{
  margin:0;
  padding:0;
  list-style:none;
  display:table-row;
}

.metrics li 
{
  display: table-cell;
  border: 1px solid transparent;
  text-align:center;
  vertical-align:middle;
  padding: 1px 2px;
}

.metrics p 
{
  position:relative;
  margin:0;
  padding:0;
}

.metrics span {
  position:absolute;
  top:0;
  left:0;
}

.metrics .dimension 
{
  white-space:nowrap
}
.metrics .dimension li 
{
  min-width: 100px
}
.metrics .dimension .elementHeight
{
  text-align:left
}

.metrics .dimension, .metrics .padding, .metrics .border, .metrics .margin 
{
  border-color: black;
  background-color:#fff;
  color: #000;
  cursor: pointer;
  
}

#interface-container
{
  position:absolute;
  top: 80%;
  left: 50%;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-left: 5px solid #ccc;
}


