 .sortable-table {
  width: 100%;
  border-collapse: collapse;
}

.sortable-table td, .sortable-table th {
  border: 1px solid rgba(0,0,0,0.1);
  padding: 4px 5px 1px 20px;
  text-align: left;
  overflow: hidden;
}

.sortable-table th {
  word-wrap: normal;
}

.sortable-table  tr:nth-child(odd) {
  background-color: rgba(0,0,0,0.025);
}

.sort-column:before {
  content: url(sort_desc.png);
  position: absolute;
  margin-right: 4px;
  top: 8px;
  left: 8px;
}

.sort-column.reversed:before {
  content: url(sort_asc.png);
}

.sortable-table tr.header {
  background-color: rgba(0,0,0,0.1);
  font-weight: bold;
}

.sortable-table tr.header .sortable-table-group-header {
  text-align: left;
  padding: 2px;
  z-index: 3;
  box-shadow: 0 1px rgba(0,0,0,0.1);
}

.sortable-table tr:not(.header):hover,
.sortable-table tr.header th:not(.sortable-table-group-header):hover 
{
  background-color: rgba(55,115,211,0.2);
  color: #000;
}

.sortable-table tr:not(.header):active,
.sortable-table tr.header th:not(.sortable-table-group-header):active,
.sortable-table tr.selected:not(.header)
{
  background-color: rgba(55,115,211,0.7);
  color: #fff;
  border-color: rgba(55,115,211,1.0);
}

.sortable-table tr .sort-column {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQIHWNgYAcAAAoACCRAuTwAAAAASUVORK5CYII%3D);
}
