 .sortable-table {
  width: 100%;
  border-collapse: collapse;
}

.sortable-table > tr > td,
.sortable-table > tr > th {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px 5px;
  text-align: left;
  overflow: hidden;
  border-left: transparent;
}

.sortable-table > tr > td.align-center {
  text-align: center;
  padding: 4px 5px 1px 5px;
}

.sortable-table > tr > td.align-right {
  text-align: right;
  padding: 4px 5px 1px 5px;
}

.sortable-table > tr > td.align-justify {
  text-align: justify;
}

.sortable-table > tr > th {
  word-wrap: normal;
}

.sortable-table > tr:first-of-type > th {
  border-top-color: #fefefe;
}

.sortable-table > tr:nth-child(odd) {
  background-color: rgba(0,0,0,0.025);
}

.sort-column {
  background: url("../../ui-images/dropdown.png") no-repeat 99% 50%;
}

.sort-column.reversed {
  background-image: url("../../ui-images/dropup.png");
}

.sortable-table > tr.header:first-child {
  background-color: #e9e9e9;
  background-image: -o-linear-gradient(-90deg,
                                       rgba(255, 255, 255, 0.85) 0,
                                       rgba(255, 255, 255, 0.25) 100%);
  height: 22px;
}

.sortable-table > tr.header:first-child th {
  font-weight: normal;
}

.sortable-table > tr.header {
  background-color: rgba(0,0,0,0.12);
  font-weight: bold;
}

.sortable-table > tr.header > .sortable-table-group-header {
  text-align: left;
  z-index: 3;
  box-shadow: 0 1px rgba(0,0,0,0.1);
}

.sortable-table > tr:not(.header):not(.no-interaction):not(.selected):hover,
.sortable-table > tr.header > th:not(.sortable-table-group-header):hover
{
  background-color: rgba(137,173,232,0.2);
  color: #000;
}

.sortable-table > tr:not(.header):not(.no-interaction):active,
.sortable-table > tr.header > th:not(.sortable-table-group-header):active,
.sortable-table > tr.selected:not(.header)
{
  background-color: rgba(55,115,211,0.7);
  color: #fff;
  border-color: rgba(55,115,211,1.0);
}
