
/* markup */

.markup-tag {
  color: #33f;
}

.markup-attribute {
    color: purple;
}

.markup-attribute-value {
    color: brown; /* #03a; */
}

.markup-comment {
     color: green;
}
.markup-bogus-comment {
     color: grey;
}

.markup-resource pre .js-source {
  opacity: 0.6; /*
  position: relative; */
  -o-transition-function: ease-in;
  -o-transition-duration: 2s;
  -o-transition-property: all;
}

.markup-resource pre .js-source:hover {
  opacity: 1;
}