/* Network log / Overview */

.network_logger
{
  min-width: 580px;
}

#network-outer-container
{
  height: 100%;
  overflow: auto;
  position: relative;
}

#network-url-list-container
{
  width: 40%;
  min-width: 230px; /* value duplicated in network_view */
}

.network-main-container
{
  width: 60%;
  position: absolute;
  right: 0;
  top: 0;
}

.network-main-container .graphs
{
  margin-top: 10px;
}

.network-main-container .data
{
  margin-top: 9px;
}

.network-main-container #graph
{
  background-image: -o-linear-gradient(0deg,
                                       #e5e5e5 0px,
                                       #e5e5e5 1px,
                                       transparent 1px);
  background-image: linear-gradient(90deg,
                                    #e5e5e5 0px,
                                    #e5e5e5 1px,
                                    transparent 1px);
  background-position: 0 21px;
  background-repeat: repeat-x;
}

.network-log-url-list
{
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 23px;
  margin-top: 11px;
}

.network-graph-row
{
  line-height: 14px;
  padding-bottom: 3px;
  padding-top: 1px;
}

.network-timeline-row
{
  height: 22px;
  padding-top: 2px;
  position: relative;
}

.timeline-marker
{
  width: 60px;
  line-height: 21px;
  position: absolute;
  top: 0;
  text-align: center;
  color: #808080;
}

.tooltip-container .not_requested::after,
.tooltip-container .error_response::after,
.tooltip-container .unreferenced::after
{
  content: " – ";
}

.network-log-url-list .not_requested
{
  color: rgba(0, 0, 0, 0.5);
}

.tooltip-container .not_requested
{
  color: rgba(0, 0, 0, 0.6);
}

.tooltip-container .error_response,
.network-log-url-list .error_response
{
  color: #d2001c !important;
}

.network-log-url-list .error_response.selected
{
  color: #3d0008;
}

.network-log-url-list li:last-child,
.network-graph-row:last-child
{ 
  border-bottom-width: 1px;
}

.network-data-container .sortable-table > tr.header:first-child
{
  border-width: 0;
  color: #808080;
}

.network-log-url-list li
{
  line-height: 13px;
}

.network-log-url-list li .network-url
{
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  display: inline-block;
  max-width: 88%;
  line-height: 13px;
}

.network-log-url-list .log-url-list-status
{
  width: 30px;
  text-align: center;
  margin: 0 2px;
  padding: 2px 2px;
  border-radius: 3px;
}

.network-log-url-list .resource-icon
{
  margin-left: 5px;
}

.network-log-url-list .load-origin-xhr::before
{
  content: "";
  background-image: url("../ui-images/load_origin_xhr.png");
  width: 15px;
  height: 9px;
  display: inline-block;
  margin-left: 4px;
  margin-top: 9px;
}

.network_incomplete_warning
{
  margin-top: 15px;
  position: relative;
}

.network-main-container .sortable-table > tr.header,
.network-main-container .sortable-table > tr.header:hover
{
  background: transparent;
  border-bottom-width: 0;
  color: #808080;
}

.network_logger .network-main-container .sortable-table td
{
  padding-bottom: 6px;
  padding-top: 5px;
  line-height: 13px;
}

.network_logger .network-main-container .sortable-table th
{
  padding-bottom: 7px;
  padding-top: 5px;
  padding-right: 13px;
  line-height: 13px;
  border-left-color: rgba(0, 0, 0, 0.09);
}

/* Network log / Detail view */
.network_logger .close-request-detail,
.network_logger .close_incomplete_warning
{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 1px;
  background-color: rgba(0, 0, 0, 0.18);
}

.network_logger .close_incomplete_warning
{
  position: absolute;
}

.network_logger .close-request-detail::before,
.network_logger .close_incomplete_warning::before
{
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: transparent url("../ui-images/icons/icon_close_tab_small.png") 50% 50% no-repeat;
}

.network_logger .close-request-detail:active,
.network_logger .close_incomplete_warning:active
{
  background-color: rgba(0, 0, 0, 0.28);
  box-shadow: 0 1px #fff,
              inset 0 1px 1px rgba(0, 0, 0, 0.15),
              inset 0 0 4px rgba(0, 0, 0, 0.05);
}
.close-request-detail
{
  position: absolute;
  left: 12px;
  top: 7px;
  cursor: default;
}

.network_logger .close_incomplete_warning
{
  right: 3px;
  top: 3px;
}

.network_logger .resize-request-detail
{
  position: absolute;
  height: 100%;
  width: 12px;
  left: -6px;
  cursor: col-resize;
}

.network-details-container .close-request-detail:active
{
  background-color: #cacaca;
}

.network-details-container
{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 2;
  left: 120px;
}

.network_logger .entry-details
{
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
  padding: 27px 20px 27px 0;
  background-color: #fff;
  /* using border-left instead of padding-left to keep the 
     space for the close button when scrolling horizontally */
  border-left: 28px solid transparent;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.39),
              0 2px 2px 1px rgba(0, 0, 0, 0.28),
              -1px 0 0 rgba(0, 0, 0, 0.05);
}

.network_logger .header-token-type-first_line_part
{
  font-weight: bold;
}

.network_logger .header-token-type-name,
.network_logger .http-token-type-boundary
{
  color: #006C0E;
}

.network_logger .network-summary,
.network-details-container h1
{
  text-align: center;
  font-size: 1.4em;
  margin: 18px 0;
  color: #808080;
}

.network-details-container h1
{
  color: #444444;
  margin: 9px 0;
  background-color: transparent;
}

.network-details-container pre,
.network-details-container p
{
  margin: 0;
}

.network-details-container table
{
  border-collapse: collapse;
}

.network-details-container td,
.network-details-container th
{
  vertical-align: top;
  word-wrap: break-word;  
}

.network-details-container th
{
  text-align: left;
  white-space: nowrap;
}

.network-details-container th:first-child
{
  width: 20%;
  padding-right: 30px;
}

.network-details-container hr
{
  border: none;
  border-top: 1px solid #a4a4a4;
}

.network-details-container h2,
.request-crafter h2,
.network-options h2
{
  font-size: 125%;
  margin: 15px 0 10px 0;
}

.network_logger .network-main-container .sortable-table .network-graph-column
{
  line-height: 0;
  padding-top: 5px;
}

.network-graph-sections-hitarea
{
  display: inline-block;
  padding: 3px;
  border-radius: 3px;
}

.hovered .network-graph-sections-hitarea
{
  background-color: rgba(255, 255, 255, 0.3);
}

.network-graph-sections
{
  display: inline-block;
  height: 12px;
  vertical-align: middle;
  border-radius: 3px;
  min-width: 3px;
  /* fallback, only visible when the sections together are less than min-width */
  background-color: #c9c9c9;
}

.network-tooltip-graph,
.network-graph-sections
{
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.09),
              inset 0 0 0 1px rgba(0, 0, 0, 0.07),
              inset 0 -1px 0 0 rgba(0, 0, 0, 0.05);
}

.selected .network-graph-sections
{
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
              inset 0 0 0 1px rgba(255, 255, 255, 0.08),
              inset 0 -1px 0 0 rgba(0, 0, 0, 0.28);
}

.tooltip-container .network-tooltip-container
{
  vertical-align: top;
}

.tooltip-container .network-tooltip-container h2
{
  margin-bottom: 1em;
}

.network-tooltip-container .sum
{
  border-top: 1px solid #bababa;
}

.network-tooltip-legend td
{
  color: #666;
}

.network-tooltip-container .mono
{
  color: #333;
}

.network-tooltip-container table
{
  border-collapse: collapse;
}

.network-tooltip-container td
{
  padding-right: 2px;
}

.network_get_params
{
  margin-top: 4px;
  border-collapse: collapse;
}

.network_get_params th
{
  text-align: left;
  padding-right: 8px;
}

.network_get_params th,
.network_get_params td
{
  vertical-align: top;
  padding-left: 0;
}

.network-tooltip-row
{
  display: table-row;
}

.network-tooltip-col
{
  display: table-cell;
  vertical-align: top;
  white-space: nowrap;
}

.network-tooltip-container .gap_title
{
  white-space: nowrap;
  padding: 2px 0;
}

.network-tooltip-graph
{
  width: 28px;
  border-radius: 3px;
}

/* the value of the padding property of this selector 
   is read out in network_templates.js */
.network-tooltip-legend .time_data
{
  color: #333;
  line-height: 15px;
  text-align: right;
  padding: 2px 8px 2px 4px;
  width: 100%;
  box-sizing: border-box;
}

.network-tooltip-legend .event_name
{
  white-space: nowrap;
}

/* Request crafter */
.request-crafter
{
  padding: 5px 20px;
}

.request-crafter p
{
  margin-top: 0;
}


.request-crafter input
{
  width: 100%;
}

.request-crafter textarea
{
  width: 100%;
  height: 250px;
}

.request-crafter pre
{
  width: 100%;
  min-height: 250px;
  border: solid thin black;
}

/* Options */
.network-options
{
  padding: 5px 20px 25px 20px;
}

.network-options label
{
  margin: 5px 0 0 0;
  display: block;
  color: #333;
}

.network-options .checkbox
{
  padding: 0 10px 0 5px;
}

.network-options p
{
  margin: 0;
  max-width: 60em;
  line-height: 150%;
}


.network-options select
{
  margin-left: 10px;
}

.header-override-input
{
  width: 100%;
  margin: 10px 0;
}

table .network-body
{
  /* work-around CORE-46966: Big pre element breaks layout in a table */
  float: left;
  margin-right: -10000000px;
}
