/* Network log / Overview */

.network_logger
{
  min-width: 580px;
}

#network-outer-container
{
  height: 100%;
  overflow: auto;
  position: relative;
}

#network-url-list-container
{
  width: 40%;
  min-width: 230px; /* value duplicated in network_view */
}

.network-main-container
{
  width: 60%;
  position: absolute;
  right: 0;
  top: 0;
}

.network-main-container .graphs
{
  margin-top: 10px;
}

.network-main-container .data
{
  margin-top: 9px;
}

.network-main-container #graph
{
  background-image: -o-linear-gradient(0deg,
                                       #e5e5e5 0px,
                                       #e5e5e5 1px,
                                       transparent 1px);
  background-image: linear-gradient(90deg,
                                    #e5e5e5 0px,
                                    #e5e5e5 1px,
                                    transparent 1px);
  background-position: 0 21px;
  background-repeat: repeat-x;
}

.network-log-url-list
{
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 23px;
  margin-top: 11px;
}

.network-graph-row
{
  line-height: 14px;
  padding-bottom: 3px;
  padding-top: 1px;
}

.network-timeline-row
{
  height: 22px;
  padding-top: 2px;
  position: relative;
}

.timeline-marker
{
  width: 60px;
  line-height: 21px;
  position: absolute;
  top: 0;
  text-align: center;
  color: #808080;
}

.tooltip-container .not_requested::after,
.tooltip-container .error_response::after,
.tooltip-container .unreferenced::after
{
  content: " – ";
}

.network_logger .not_requested
.network-detail-overlay .not_requested
{
  color: rgba(0, 0, 0, 0.5);
}

.tooltip-container .not_requested
{
  color: rgba(0, 0, 0, 0.6);
}

.tooltip-container .error_response,
.network_logger .error_response
.network-detail-overlay .error_response
{
  color: #d2001c;
}

.network_logger .error_response.selected
{
  color: #3d0008;
}

.network-log-url-list li:last-child,
.network-graph-row:last-child
{
  border-bottom-width: 1px;
}

.network-data-container .sortable-table > tr.table-header:first-child
{
  border-width: 0;
  background: none;
  color: #808080;
}

.network-log-url-list li
{
  line-height: 13px;
}

.network-log-url-list li .network-url
{
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  display: inline-block;
  max-width: 88%;
  line-height: 13px;
}

.network-log-url-list .log-url-list-status
{
  width: 30px;
  text-align: center;
  margin: 0 2px;
  padding: 2px 2px;
  border-radius: 3px;
}

.network-log-url-list .resource-icon
{
  margin-left: 5px;
}

.network-log-url-list .load-origin-xhr::before
{
  content: "";
  background-image: url("../ui-images/load_origin_xhr.png");
  width: 15px;
  height: 9px;
  display: inline-block;
  margin-left: 4px;
  margin-top: 9px;
}

.network_incomplete_warning
{
  margin-top: 15px;
  position: relative;
}

.network-main-container .sortable-table > tr.header,
.network-main-container .sortable-table > tr.header:hover
{
  background: transparent;
  border-bottom-width: 0;
  color: #808080;
}

.network_logger .network-main-container .sortable-table td
{
  padding-bottom: 6px;
  padding-top: 5px;
  line-height: 13px;
}

.network_logger .network-main-container .sortable-table th
{
  padding-bottom: 7px;
  padding-top: 5px;
  padding-right: 13px;
  line-height: 13px;
  border-left-color: rgba(0, 0, 0, 0.09);
}

/* Network log / Detail view */
.network_logger .close_incomplete_warning
{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 1px;
  background-color: rgba(0, 0, 0, 0.18);
}

.network_logger .close_incomplete_warning
{
  position: absolute;
}

.network_logger .close_incomplete_warning::before
{
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: transparent url("../ui-images/icons/icon_close_tab_small.png") 50% 50% no-repeat;
}

.network_logger .close_incomplete_warning:active
{
  background-color: rgba(0, 0, 0, 0.28);
  box-shadow: 0 1px #fff,
              inset 0 1px 1px rgba(0, 0, 0, 0.15),
              inset 0 0 4px rgba(0, 0, 0, 0.05);
}

.network_logger .close_incomplete_warning
{
  right: 3px;
  top: 3px;
}

.network-detail-overlay > .table
{
  box-sizing: border-box;
}

.network-detail-overlay .table
{
  display: table;
  width: 100%;
}

.network-detail-overlay .wrap /* that's .table.wrap */
{
  display: block;
}

.method-and-url
{
  white-space: pre;
}

.network-detail-overlay .wrap .method-and-url
{
  word-wrap: break-word;
}

.network-detail-overlay .header-token-type-first_line_part
{
  font-weight: bold;
}

.network-detail-overlay .header-token-type-name
{
  color: #cc0033;
}

.network-detail-overlay .http-token-type-boundary
{
  color: #7E7E7E;
}

.network_logger .network-summary
{
  text-align: center;
  font-size: 1.4em;
  margin: 18px 0;
  color: #808080;
}

.network-detail-overlay\.wrap-detail-view::before
{
  background-image: url("../ui-images/icons/icon_wrap_text.png");
}

.network-detail-overlay\.view-parsed::before
{
  background-image: url("../ui-images/icons/icon_view_raw.png");
}

.network-detail-overlay pre
{
  margin: 0;
}

.network-detail-overlay .wrap pre,
.network-detail-overlay .wrap p,
.network-detail-overlay .wrap td
{
  word-wrap: break-word;
  white-space: pre;
}

.network-detail-overlay .wrap td
{
  /* not entirely sure why only pre-wrap helps here */
  white-space: pre-wrap;
}

.network-detail-overlay .wrap img
{
  max-width: 100%;
}

.network-detail-overlay p,
.network-detail-overlay .foldable
{
  margin: 6px 8px;
}

.network-detail-overlay table
{
  border-collapse: collapse;
}

.network-detail-overlay table
{
  width: 1px;
}

.network-detail-overlay .wrap table
{
  width: 100%;
  table-layout: fixed;
}

.network-detail-overlay td,
.network-detail-overlay th
{
  vertical-align: top;
  padding: 4px 10px;
  border-right: 1px solid #fff;
}

.network-detail-overlay th
{
  text-align: left;
  white-space: nowrap;
}

.network-detail-overlay th:first-child,
.network-detail-overlay td:first-child
{
  width: 20%;
  padding-left: 0;
}

.network-detail-overlay tr:nth-child(even)
{
  background-color: rgba(0, 0, 0, 0.03);
}

.network-detail-overlay hr
{
  border: none;
  border-top: 1px solid #ccc;
  margin: 7px 0 -8px 0;
}

.network-detail-overlay .table > div:first-of-type .header
{
  border-top-width: 1px;
}

.request-crafter h2,
.network-options h2
{
  font-size: 125%;
  padding: 10px 0 5px;
}

.network_logger .network-main-container .sortable-table .network-graph-column
{
  line-height: 0;
  padding-top: 5px;
}

.network-graph-sections-hitarea
{
  display: inline-block;
  padding: 3px;
  border-radius: 3px;
}

.hovered .network-graph-sections-hitarea
{
  background-color: rgba(255, 255, 255, 0.3);
}

.network-graph-sections
{
  display: inline-block;
  height: 12px;
  vertical-align: middle;
  border-radius: 3px;
  min-width: 3px;
  /* fallback, only visible when the sections together are less than min-width */
  background-color: #c9c9c9;
}

.network-tooltip-graph,
.network-graph-sections
{
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.09),
              inset 0 0 0 1px rgba(0, 0, 0, 0.07),
              inset 0 -1px 0 0 rgba(0, 0, 0, 0.05);
}

.selected .network-graph-sections
{
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
              inset 0 0 0 1px rgba(255, 255, 255, 0.08),
              inset 0 -1px 0 0 rgba(0, 0, 0, 0.28);
}

.tooltip-container .network-tooltip-container
{
  vertical-align: top;
}

.tooltip-container .network-tooltip-container h2
{
  margin-bottom: 1em;
}

.network-tooltip-container .sum
{
  border-top: 1px solid #bababa;
}

.network-tooltip-legend td
{
  color: #666;
}

.network-tooltip-container .mono
{
  color: #333;
}

.network-tooltip-container table
{
  border-collapse: collapse;
  width: 100%;
}

.network-tooltip-container td
{
  padding-right: 2px;
}

.network_get_params
{
  margin-top: 4px;
  border-collapse: collapse;
}

.network_get_params th
{
  text-align: left;
  padding-right: 8px;
}

.network_get_params th,
.network_get_params td
{
  vertical-align: top;
  padding-left: 0;
}

.network-tooltip-row
{
  display: table-row;
}

.network-tooltip-col
{
  display: table-cell;
  vertical-align: top;
  white-space: nowrap;
}

.network-tooltip-container .gap_title
{
  white-space: nowrap;
  padding: 2px 0;
}

.network-tooltip-graph
{
  width: 28px;
  border-radius: 3px;
}

/* the value of the padding property of this selector
   is read out in network_templates.js */
.network-tooltip-legend .time_data
{
  color: #333;
  line-height: 15px;
  text-align: right;
  padding: 2px 8px 2px 4px;
  width: 100%;
  box-sizing: border-box;
}

.network-tooltip-legend .event_name
{
  white-space: nowrap;
}

/* Request crafter */
.request-crafter
{
  padding: 5px 20px;
}

.request-crafter p
{
  margin-top: 0;
}


.request-crafter input
{
  width: 100%;
}

.request-crafter textarea
{
  width: 100%;
  height: 250px;
}

.request-crafter pre
{
  width: 100%;
  min-height: 250px;
  border: solid thin black;
}

/* Options */
.network-options
{
  padding: 5px 20px 25px 20px;
}

.network-options label
{
  margin: 5px 0 0 0;
  display: block;
  color: #333;
}

.network-options .checkbox
{
  padding: 0 10px 0 5px;
}

.network-options p
{
  margin: 0;
  max-width: 60em;
  line-height: 150%;
}


.network-options select
{
  margin-left: 10px;
}

.header-override-input
{
  width: 100%;
  margin: 10px 0;
}
