.network_logger {
  min-width: 410px; /* when smaler, the filter box takes 3 lines and the alignments break */
}

#main-scroll-container
{
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
}

#main-scroll-content
{
  position: relative;
}

.network_logger {
  min-width: 580px;
}

#network-url-list
{
  float: left;
  width: 40%;
  min-width: 230px; /* value duplicated in network_view */
}

.network-main-container
{
  float: left;
  width: 60%;
}

.network-data-container.graphs { /* todo: slow selector */
  position: relative;
  top: 10px;
}

.network-data-container.data { /* todo: slow selector */
  position: relative;
  top: 9px;
}

/* Network log / Overview */

.network_logger .type-filter-buttons {
  text-align: center;
  margin-top: 4px;
  padding: 0 10px;
  min-height: 54px;
}

.network_logger .type-filter-buttons .ui-button {
  margin: 5px 1px 0 1px;
  padding: 1px 8px;
  height: 17px;
  line-height: 17px;
  color: #8b8b8b;
  background-image: -o-linear-gradient(270deg,
                        rgba(255, 255, 255, 0.5) 0,
                        rgba(255, 255, 255, 0.251) 85%,
                        rgba(255, 255, 255, 0.5059) 100%);
}

.network_logger .type-filter-buttons .ui-button.on {
  color: #444;
  background-image: -o-linear-gradient(270deg,
                        rgba(255, 255, 255, 0.898) 0,
                        rgba(255, 255, 255, 0.251) 85%,
                        rgba(255, 255, 255, 0.5059) 100%);
}

.network-log-url-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 34px;
}

.network-log-url-list li
{
  height: 19px;
  padding: 5px 0 0 8px;
}

.network_logger #network-url-list .network-log-url-list li.not_requested
{
  color: #8a8a8a;
}

.network_logger #network-url-list .network-log-url-list li.error_response
{
  color: #d2001c;
}

.network_logger #network-url-list .network-log-url-list li.error_response.selected
{
  color: #3d0008;
}

.network-log-url-list li:nth-child(even),
.network-graph-row:nth-child(odd)
{
  background-color: rgba(0, 0, 0, 0.03);
}

.network-log-url-list li.hovered,
.network-main-container .network-data-container .hovered,
.network-main-container .network-data-container .network-data-table-container .hovered {
  background-color: rgba(55, 115, 211, 0.2);
  color: #000;
}

.network-log-url-list li .resource-icon {
  display: inline-block;
}

.network-log-url-list li span + span {
  padding-left: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  display: inline-block;
  max-width: 88%;
}

.network-log-url-list .log-url-list-status {
  width: 30px;
  text-align: center;
  margin: 0 2px;
  padding: 2px 2px;
  border-radius: 3px;
}

.network_incomplete_warning {
  display: block;
  background-color: #ebebeb;
  padding: 10px 24px 10px 10px;
  margin: 5px auto;
  width: 70%;
  text-align: center;
  position: relative;
  line-height: 1.6em;
}

.network_incomplete_warning .text_handler {
  text-decoration: underline;
  cursor: pointer;
  white-space: nowrap;
}

.close_incomplete_warning {
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer;
}

.close_incomplete_warning::before
{
  content: "";
  background-image: url("../ui-images/icons/icon_close.png");
  display: inline-block;
  height: 16px;
  width: 16px;
  background-position: 50%;
  background-repeat: no-repeat;
}

.network-log-url-list li.selected,
.network-log-url-list li:nth-child(even).selected,
.network-main-container .network-data-container .selected,
.network-main-container .network-data-container .network-data-table-container .selected
{
  background-color: rgba(55, 115, 211, 0.8);
  color: #fff;
}

.network_logger .sortable-table tr td, .network_logger .sortable-table tr th
{
  padding-bottom: 5px;
  padding-top: 6px;
}

/* Network log / Detail view */
.close-request-detail
{
  position: absolute;
  left: 5px;
  top: 5px;
  background-color: #FFF;
  border: 1px solid #999;
  border-radius: 16px;
  width: 19px;
  height: 19px;
}

.resize-request-detail {
  cursor: col-resize;
  top: 83px;
  height: 100%;
  margin-left: -24px;
  position: fixed;
  width: 12px;
}

.close-request-detail:active
{
  background-color: #CACACA;
}

.close-request-detail::before
{
  content: "";
  background-image: url("../ui-images/icons/icon_close.png");
  display: block;
  height: 19px;
  width: 19px;
  background-position: 50%;
  background-repeat: no-repeat;
}

.network-details-url-list
{
  height: 100%;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
}

.network-details-container
{
  position: fixed;
  right: 0;
  top: 83px;
  bottom: 0;
  z-index: 2;
  left: 120px;
  overflow: auto;
  padding: 15px 20px 25px 20px;
  border-left: 1px solid #999;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, .4);
}

.network_logger .network-summary
{
  clear: both;
  text-align: center;
}

.network_logger .network-summary div
{
  text-align: center;
  display: inline-block;
  font-size: 1.4em;
  margin: 18px 0;
  color: #919191;
}

.network-details-container pre,
.network-details-container p
{
  margin: 0;
}

.network-details-container img.network-body
{
  margin-top: 2em;
}

.network-details-container table
{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 12px;
  margin-top: 12px;
}

.network-details-container td,
.network-details-container th
{
  vertical-align: top;
}

.network-details-container th
{
  text-align: left;
  padding-right: 30px;
  width: 140px;
}

.network-details-container hr {
  border: none;
  border-top: 1px solid #a4a4a4;
}

.network-details-container h2,
.request-crafter h2,
.network-options h2
{
  font-size: 125%;
  margin: 15px 0 10px 0;
}

/* Request crafter */
.request-crafter
{
  padding: 5px 20px;
}

.request-crafter p
{
  margin-top: 0;
}


.request-crafter input
{
  width: 100%;
}

.request-crafter textarea
{
  width: 100%;
  height: 250px;
}

.request-crafter pre
{
  width: 100%;
  min-height: 250px;
  border: solid thin black;
}


/* Options */
.network-options
{
  padding: 5px 20px 25px 20px;
}

.network-options label {
  margin: 5px 0 0 0;
  display: block;
  color: #444;
}

.network-options input[type=checkbox] {
  padding: 0 10px 0 5px;
}

.network-options p
{
  margin: 0;
  max-width: 60em;
  line-height: 150%;
}


.network-options select
{
  margin-left: 10px;
}

.header-override-input
{
  width: 100%;
  margin: 10px 0;
}

.network-timeline-row,
.network-graph-row
{
  height: 24px;
}

.network_logger .network-data-container table tr .network-graph-column
{
  line-height: 0;
  padding-top: 1px;
}

.network-graph-sections-hitarea
{
  vertical-align: top;
  display: inline-block;
  padding: 3px;
  margin-top: 2px;
  margin-bottom: -1px;
  border-radius: 3px;
}

.network-graph-row.hovered .network-graph-sections-hitarea
{
  background-color: rgba(255, 255, 255, 0.3);
}

.network-graph-sections
{
  display: inline-block;
  border-radius: 2px;
  min-width: 2px;
  /* fallback, only visible when the sections together are less than min-width */
  background-color: #ADADAD;
}

.network-graph-sections
{
  height: 12px;
  margin-top: 1px;
}

.network-tooltip-container
{
  vertical-align: top;
  padding: 6px 0;
}

.network-tooltip-container h2 {
  font-size: 12px;
  margin: 6px 0 4px 0;
}

.network-tooltip-container .sum {
  border-top: 1px solid #444;
}

.network-tooltip-container .mono {
  color: #444;
}

.network-tooltip-container table {
  border-collapse: collapse;
}

.network-tooltip-container table td {
  padding-right: 2px;
}

.network_get_params {
  margin: 4px 2px 0 0;
}

.network_get_params td {
  padding: 0 4px;
}

.network-tooltip-row {
  display: table-row;
}

.network-tooltip-graph,
.network-tooltip-legend,
.network-tooltip-pointers
{
  display: table-cell;
  vertical-align: top;
}

.network-tooltip-pointers
{
  position: relative;
  width: 103px; /* the base_width in the svg plus some padding */
}

.network-section
{
  display: inline-block;
  vertical-align: top;
  height: 12px;
  margin-bottom: 1px;
}

.network-tooltip-graph
{
  width: 28px;
}

.network-tooltip-legend table td
{
  padding: 3px;
}

.network-tooltip-legend .time_data
{
  text-align: right;
  padding: 2px 8px 0 4px;
}

.network-tooltip-legend .event_name
{
  white-space: nowrap;
}

.timeline-marker {
  display: inline-block;
  width: 60px;
  line-height: 21px;
  position: absolute;
  top: 0;
  text-align: center;
}