#main-scroll-container
{
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
}

#main-scroll-content
{
  position: relative;
}

#left-side-content
{
  width: 250px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

#right-side-container
{
  position: absolute;
  height: 100%;
  top: 0;
  left: 251px;
  right: 0;
  overflow: hidden;
}

#right-side-content
{
  height: 100%;
}

#scrollbar-container
{
  margin-right: 13px;
  overflow: auto;
}

#scrollbar
{
    height: 1px;
}


/* Network log / Overview */

.network-log-url-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 25px;
}

.network-log-url-list li {
  height: 19px;
  padding: 4px 0 1px 8px;
}

.network-log-url-list:last-child,
.network-graph-row:last-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.network-log-url-list li:nth-child(odd),
.network-graph-row:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.03)
}

.network-log-url-list li.hovered,
#graph div.hovered {
  background-color: rgba(55, 115, 211, 0.2);
  color: #000;
}

.network-log-url-list li span {
  display: inline-block;
}

.network-log-url-list li span + span {
  padding-left: 5px;
  width: 186px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.network-log-url-list .log-url-list-status {
  width: 30px;
  text-align: center;
  margin: 0 2px;
  padding: 2px 0;
  border-radius: 3px;
}

.status-cached {
  background: rgba(0, 0, 0, 0.15);
}

.network-log-url-list li:active,
.network-log-url-list li:nth-child(even):active,
.network-log-url-list li.selected,
.network-log-url-list li:nth-child(even).selected
{
  background-color: rgba(55, 115, 211, 0.8);
  color: #fff;
}

.response-body-content textarea
{
  width: 80%;
  height: 300px;
}

/* Network log / Detail view */

.close-request-detail::before
{
  background-image: url("../ui-images/icons/icon_button_back.png");
}

.network-details-url-list {
  height: 100%;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
}

.network-details-request
{
  position: absolute;
  right: 0;
  top:0;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
  padding: 15px 20px 25px 20px;
  border-left: 1px solid #999;
  background-color: #fff;
}

.network-details-request table
{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 12px;
  margin-top: 12px;
}

.network-details-request td,
.network-details-request th
{
  border-top: 1px solid #eee;
  padding: 6px 5px 4px 0;
}

.network-details-request th
{
  text-align: left;
  vertical-align: top;
  width: 110px;
}

.network-details-header-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  padding-top: 0;
}

.network-details-header-list span
{
  font-weight: bold;
}

.network-details-request p
{
  margin-top: 0;
  max-width: 60em;
  line-height: 150%;
}

.network-details-request h2,
.request-crafter h2,
.network-options h2
{
  font-size: 125%;
  margin: 15px 0 0 0;
}

/* Request crafter */
.request-crafter
{
  padding: 5px 20px;
}

.request-crafter p
{
  margin-top: 0;
}


.request-crafter input
{
  width: 100%;
}

.request-crafter textarea
{
  width: 100%;
  height: 250px;
}

.request-crafter pre
{
  width: 100%;
  min-height: 250px;
  border: solid thin black;
}


/* Options */
.network-options
{
  padding: 5px 20px 25px 20px;
}

.network-options label {
  margin: 5px 0 0 0;
  display: block;
  color: #444;
}

.network-options input[type=checkbox] {
  padding: 0 10px 0 5px;
}

.network-options p
{
  margin: 0;
  max-width: 60em;
  line-height: 150%;
}


.network-options select
{
  margin-left: 10px;
}

.header-override-input
{
  width: 100%;
  margin: 10px 0;
}

#graph
{
  position: absolute;
  left: 0;
  padding-top: 1px;
  background-image: -o-linear-gradient(0deg,
                                       rgba(0, 0, 0, 0.06) 0,
                                       rgba(0, 0, 0, 0.06) 1px,
                                       transparent 1px);

  background-size: 41px 100%;
  background-repeat: repeat;
  background-position: -1px 50%;
}

.network-graph-row
{
  height: 24px;
  line-height: 24px;
}

.network-graph-latency
{
  display: inline-block;
  vertical-align: -5px;
  height: 13px;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .05);
  box-shadow:inset 0 0 4px rgba(0, 0, 0, .20);
}
.network-graph-time
{
  display: inline-block;
  vertical-align: top;
  margin: -1px;
  height: 13px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.network-markup /* purple */
{
  border-color: #383f77;
  background-image: -o-linear-gradient(-90deg,
                                       #c9c9ff 1%,
                                       #a7a5d6 100%);
}
.network-css /* blue */
{
  border-color: #266099;
  background-image: -o-linear-gradient(-90deg,
                                       #b8d4ff 1%,
                                       #8bafe0 100%);
}
.network-script /* yellow */
{
  border-color: #807040;
  background-image: -o-linear-gradient(-90deg,
                                       #f7f2d5 1%,
                                       #e3d696 100%);
}
.network-image /* red */
{
  border-color: #922424;
  background-image: -o-linear-gradient(-90deg,
                                       #ed9696 1%,
                                       #d46868 100%);
}
.network-video /* green */
{
  border-color: #333;
  background-image: -o-linear-gradient(-90deg,
                                       #cae6ca 1%,
                                       #9ec59e 100%);
}
.network-unknown /* gray */
{
  border-color: #333;
  background-image: -o-linear-gradient(-90deg,
                                       #d9d9d9 1%,
                                       #adadad 100%);
}

.timeline-marker {
  display: inline-block;
  width: 60px;
  line-height: 21px;
  background-color: #fefefe;
  position: absolute;
  top: 0;
  text-align: center;
}