.screenshot canvas
{
  display: block;
  cursor: default;
}

.screenshot canvas:active
{
  cursor: move;
}

.screenshot-overlay
{
  position: absolute;
  top: 0;
  left: 0;
}

.screenshot-sample-color
{
  margin-top: 7px;
  height: 50px;
}