.screenshot canvas
{
  display: block;
  cursor: default;
}

.screenshot canvas:active
{
  cursor: move;
}

.screenshot-overlay
{
  position: absolute;
  top: 0;
  left: 0;
}

.screenshot-sample-color
{
  margin-top: 7px;
  height: 50px;
}

.screenshot-store-color
{
  float: right;
}

.color-palette-sample
{
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 7px;
  border-radius: 3px;
}

.color-palette-item
{
  line-height: 24px;
  padding: 7px;
  border-bottom: 1px solid hsl(0, 0%, 70%);
}

.color-palette-item:nth-child(even)
{
  background-color: hsl(0, 0%, 95%);
}

.color-palette-item.edited-color
{
  position: relative;
  z-index: 10;
  box-shadow: 0 0 7px #000;
}

.color-palette-add-button
{
  margin-left: 7px;
}